﻿<div class="mdl-right-drawer-layout">
    <h2 class="notification-title">NOTIFICACIONES</h2>
    <div>
        <ul class="demo-list-icon mdl-list">
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">notifications_active</i>
                    Notification 1
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">notifications_active</i>
                    Notification 2
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">notifications_active</i>
                    Notification 3
                </span>
            </li>

            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">notifications_active</i>
                    Notification 1
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">notifications_active</i>
                    Notification 2
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">notifications_active</i>
                    Notification 3
                </span>
            </li>
        </ul>
    </div>
</div>

<script src="~/Libs/Media/js/RightDrawer_Anim.js"></script>
<script src="~/Libs/Media/js/FABs.js"></script>