﻿
@{
    ViewBag.Title = "Components";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="mdl-card mdl-card__base mdl-shadow--2dp">
    <div class="mdl-card_header_container">
        <!--heaeder-->
        <h1 class="mdl_card_main_title">
            Badges
        </h1>
    </div>
    <div class="mdl_card_content">
        <!-- Number badge on icon -->
        <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">account_box</div>
        <!-- Icon badge on icon -->
        <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="♥">account_box</div>

        <br />
        <br />

        <!-- Number badge -->
        <span class="mdl-badge" data-badge="4">Inbox</span>
        <!-- Icon badge -->
        <span class="mdl-badge" data-badge="♥">Mood</span>
    </div>

</div>

<div class="mdl-card mdl-card__base mdl-shadow--2dp">
    <div class="mdl-card_header_container">
        <!--heaeder-->
        <h1 class="mdl_card_main_title">
            Buttons
        </h1>
    </div>
    <div class="mdl_card_content">
        <h6>Colored FABs</h6>
        <div>
            <!-- Colored FAB button -->
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                <i class="material-icons">add</i>
            </button>
            <!-- Colored FAB button with ripple -->
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">add</i>
            </button>
        </div>
        <br />
        <h6>FABS Buttons</h6>
        <div>
            <!-- FAB button -->
            <button class="mdl-button mdl-js-button mdl-button--fab">
                <i class="material-icons">add</i>
            </button>
            <!-- FAB button with ripple -->
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                <i class="material-icons">add</i>
            </button>
            <!-- Disabled FAB button -->
            <button class="mdl-button mdl-js-button mdl-button--fab" disabled>
                <i class="material-icons">add</i>
            </button>
        </div>
        <br />
        <h6>Raised Buttons</h6>
        <div>
            <!-- Raised button -->
            <button class="mdl-button mdl-js-button mdl-button--raised">
                Button
            </button>
            <!-- Raised button with ripple -->
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                Button
            </button>
            <!-- Raised disabled button -->
            <button class="mdl-button mdl-js-button mdl-button--raised" disabled>
                Button
            </button>
        </div>
        <br />
        <h6>Flat Buttons</h6>
        <div>
            <!-- Flat button -->
            <button class="mdl-button mdl-js-button">
                Button
            </button>
            <!-- Flat button with ripple -->
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
                Button
            </button>
            <!-- Disabled flat button -->
            <button class="mdl-button mdl-js-button" disabled>
                Button
            </button>
        </div>
    </div>
</div>

<div class="mdl-card mdl-card__base mdl-shadow--2dp">
    <div class="mdl-card_header_container">
        <!--heaeder-->
        <h1 class="mdl_card_main_title">
            Chips
        </h1>
    </div>
    <div class="mdl_card_content">
        <!-- Basic Chip -->
        <span class="mdl-chip">
            <span class="mdl-chip__text">Basic Chip</span>
        </span><!-- Deletable Chip -->
        <span class="mdl-chip mdl-chip--deletable">
            <span class="mdl-chip__text">Deletable Chip</span>
            <button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
        </span><!-- Button Chip -->
        <button type="button" class="mdl-chip">
            <span class="mdl-chip__text">Button Chip</span>
        </button>
    </div>
</div>

<div class="mdl-card mdl-card__base mdl-shadow--2dp">
    <div class="mdl-card_header_container">
        <!--heaeder-->
        <h1 class="mdl_card_main_title">
            Listas
        </h1>
    </div>
    <div class="mdl_card_content">
        <h6>Simples</h6>
        <div>
            <!-- Simple list -->
            <style>
                .demo-list-item {
                    width: 300px;
                }
            </style>

            <ul class="demo-list-item mdl-list">
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        Bryan Cranston
                    </span>
                </li>
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        Aaron Paul
                    </span>
                </li>
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        Bob Odenkirk
                    </span>
                </li>
            </ul>
        </div>
        <br />
        <h6>Icon List</h6>
        <div>
            <!-- Icon List -->
            <style>
                .demo-list-icon {
                    width: 300px;
                }
            </style>

            <ul class="demo-list-icon mdl-list">
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">person</i>
                        Bryan Cranston
                    </span>
                </li>
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">person</i>
                        Aaron Paul
                    </span>
                </li>
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">person</i>
                        Bob Odenkirk
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="mdl-card mdl-card__base mdl-shadow--2dp">
    <div class="mdl-card_header_container">
        <!--heaeder-->
        <h1 class="mdl_card_main_title">
            Loaders
        </h1>
    </div>
    <div class="mdl_card_content">
        <div>
            <!-- Simple MDL Progress Bar -->
            <div id="p1" class="mdl-progress mdl-js-progress"></div>
            <script>
                document.querySelector('#p1').addEventListener('mdl-componentupgraded', function () {
                    this.MaterialProgress.setProgress(44);
                });
            </script>
        </div>
        <br />
        <div>
            <!-- MDL Progress Bar with Indeterminate Progress -->
            <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        </div>
        <br />
        <div>
            <!-- MDL Progress Bar with Buffering -->
            <div id="p3" class="mdl-progress mdl-js-progress"></div>
            <script>
                document.querySelector('#p3').addEventListener('mdl-componentupgraded', function () {
                    this.MaterialProgress.setProgress(33);
                    this.MaterialProgress.setBuffer(87);
                });
            </script>
        </div>
        <br />
        <div>
            <!-- MDL Spinner Component -->
            <div class="mdl-spinner mdl-js-spinner is-active"></div>
            <!-- MDL Spinner Component with Single Color -->
            <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
        </div>
    </div>
</div>

<div class="mdl-card mdl-card__base mdl-shadow--2dp">
    <div class="mdl-card_header_container">
        <!--heaeder-->
        <h1 class="mdl_card_main_title">
            Forms
        </h1>
    </div>
    <div class="mdl_card_content">
        <h6>Checkboxes</h6>
        <div>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
                <span class="mdl-checkbox__label">Checkbox</span>
            </label>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
                <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">Checkbox</span>
            </label>
        </div>
        <br />
        <h6>VomboBox</h6>
        <label class="mdl-textfield--expandable">Combo Box</label>
        <select class="mdl-textfield__input">
            <option>opcion 1</option>
            <option>opcion 2</option>
            <option>opcion 3</option>
            <option>opcion 4</option>
            <option>opcion 5</option>
            <option>opcion 6</option>
        </select>
        <h6>Radio Botones</h6>
        <div>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1" checked>
                <span class="mdl-radio__label">First</span>
            </label>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="2">
                <span class="mdl-radio__label">Second</span>
            </label>
        </div>
        <br />
        <h6>Texto Simple</h6>
        <div>
            <!-- Simple Textfield -->
            <form action="#">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="sample1">
                    <label class="mdl-textfield__label" for="sample1">Text...</label>
                </div>
            </form>
            <!-- Numeric Textfield -->
            <form action="#">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample2">
                    <label class="mdl-textfield__label" for="sample2">Text Numbers...</label>
                    <span class="mdl-textfield__error">Input is not a number!</span>
                </div>
            </form>
        </div>
        <br />
        <h6>
            FLoating text Fields
        </h6>
        <div>
            <form action="#">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="sample3">
                    <label class="mdl-textfield__label" for="sample3">Text...</label>
                </div>
            </form>
            <!-- Numeric Textfield with Floating Label -->
            <form action="#">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
                    <label class="mdl-textfield__label" for="sample4">Number...</label>
                    <span class="mdl-textfield__error">Input is not a number!</span>
                </div>
            </form>
        </div>

        <br />
        <h6>Custumizados</h6>
        <div>
            <form action="#">
                <div class="mdl-textfield mdl-js-textfield">
                    <textarea class="mdl-textfield__input" type="text" rows="3" id="sample5"></textarea>
                    <label class="mdl-textfield__label" for="sample5">Text lines...</label>
                </div>
            </form>
            <!-- Expandable Textfield -->
            <form action="#">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                    <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                        <i class="material-icons">search</i>
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="text" id="sample6">
                        <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
                    </div>
                </div>
            </form>

            <label class="mdl-textfield--floating-label">Fecha</label>
            <div class="mdl-textfield mdl-js-textfield data-label-input">
                <input class="mdl-textfield__input" type="text" placeholder="00/00/0000" id="datepickerTXT">
                <label class="mdl-textfield__label" for="sample1"></label>
            </div>
        </div>
    </div>
</div>

<div class="mdl-card mdl-card__base mdl-shadow--2dp">
    <div class="mdl-card_header_container">
        <!--heaeder-->
        <h1 class="mdl_card_main_title">
            Drawers
        </h1>
    </div>

    <div class="mdl_card_content">
        <a href="@Url.Action("Drawer1", "Home")" class="mdl-button mdl-js-button mdl-js-ripple-effect colored_button">Drawer 1</a>
        <a href="@Url.Action("Drawer2", "Home")" class="mdl-button mdl-js-button mdl-js-ripple-effect colored_button">Drawer 2</a>
        <a href="@Url.Action("ExpandableDrawer", "Home")" class="mdl-button mdl-js-button mdl-js-ripple-effect colored_button">Expandable Drawer</a>
    </div>
</div>


<div class="mdl-card mdl-card__base mdl-shadow--2dp">
    <div class="mdl-card_header_container">
        <!--heaeder-->
        <h1 class="mdl_card_main_title">
            Modals
        </h1>
    </div>

    <div class="mdl_card_content">
        <button type="button" id="btn1" class="mdl-button mdl-js-button mdl-js-ripple-effect colored_button">information</button>
        <button type="button" id="btn2" class="mdl-button mdl-js-button mdl-js-ripple-effect colored_button">action modal</button>
        <button type="button" id="btn3" class="mdl-button mdl-js-button mdl-js-ripple-effect colored_button">not cancelable</button>
        <button type="button" id="btn4" class="mdl-button mdl-js-button mdl-js-ripple-effect colored_button">loading</button>
    </div>
</div>

<div class="mdl-card mdl-card__base mdl-shadow--2dp">
    <div class="mdl-card_header_container">
        <!--heaeder-->
        <h1 class="mdl_card_main_title">
            Menus
        </h1>
    </div>
    <div class="mdl_card_content">
        <!-- Left aligned menu below button -->
        <button id="demo-menu-lower-left"
                class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">more_vert</i>
        </button>

        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
            for="demo-menu-lower-left">
            <li class="mdl-menu__item">Some Action</li>
            <li class="mdl-menu__item mdl-menu__item--full-bleed-divider">Another Action</li>
            <li disabled class="mdl-menu__item">Disabled Action</li>
            <li class="mdl-menu__item">Yet Another Action</li>
        </ul>
        <!-- Right aligned menu below button -->
        <button id="demo-menu-lower-right"
                class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">more_vert</i>
        </button>

        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            for="demo-menu-lower-right">
            <li class="mdl-menu__item">Some Action</li>
            <li class="mdl-menu__item">Another Action</li>
            <li disabled class="mdl-menu__item">Disabled Action</li>
            <li class="mdl-menu__item">Yet Another Action</li>
        </ul>
    </div>
</div>

<div class="mdl-card mdl-card__base mdl-shadow--2dp">
    <div class="mdl-card_header_container">
        <!--heaeder-->
        <h1 class="mdl_card_main_title">
            Menus
        </h1>
    </div>
    <div class="mdl_card_content">
        <!-- Left aligned menu below button -->
        <button id="demo-menu-lower-left-icon"
                class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">more_vert</i>
        </button>

        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-left-icon">
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">save</i>
                    Guardas
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">delete</i>
                    Eliminar
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">edit</i>
                    Actualizar
                </span>
            </li>
        </ul>
        <!-- Right aligned menu below button -->
        <button id="demo-menu-lower-right-icon"
                class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">more_vert</i>
        </button>

        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right-icon">
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">save</i>
                    Guardas
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">delete</i>
                    Eliminar
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">edit</i>
                    Actualizar
                </span>
            </li>
        </ul>
    </div>
</div>

<script src="~/scripts/Home/modals.js"></script>

<script>
                $(function () {
                    var dateinput = $('#datepickerTXT');
                    dateinput.datepicker();
                });
</script>