﻿@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="dashboard-content">

    <!--roW 1-->
    <div class="mdl-card mdl-card__dashboard blue_grey_900 mdl-shadow--2dp">
        <div class="mdl-card_header_container">
            <!--heaeder-->
            <h1 class="mdl_card_main_title" style="margin-right: 26px;">
                CARD TITLE
            </h1>
        </div>
        <div class="mdl_card_content">
            <div class="header-content">
                <div class="detail-section">
                    <div class="item-container">
                        <i class="material-icons ico" role="presentation">content_paste</i>
                        <div class="item-detail-container">
                            <p class="description">CRE-SOB-225</p>
                            <p class="leyend">Header Item</p>
                        </div>
                    </div>

                    <div class="item-container">
                        <i class="material-icons ico" role="presentation">today</i>
                        <div class="item-detail-container">
                            <p class="description">00/00/0000</p>
                            <p class="leyend">Header Item</p>
                        </div>
                    </div>

                    <div class="item-container">
                        <i class="material-icons ico" role="presentation">domain</i>
                        <div class="item-detail-container">
                            <p class="description">LOREM IPSUM DOLOR SET AMIN</p>
                            <p class="leyend">Header Item</p>
                        </div>
                    </div>

                    <div class="item-container">
                        <i class="material-icons ico" role="presentation">attach_money</i>
                        <div class="item-detail-container">
                            <p class="description-second-level">$00,000.00</p>
                            <p class="leyend">Header Item</p>
                        </div>
                    </div>

                </div>
                <div class="chart-section">

                </div>
            </div>
        </div>
    </div>

    <!--row 2-->
    <div class="two-colum-section">

        <div class="colum1">

            <div class="mdl-card mdl-card__dashboard light_blue_900 mdl-shadow--2dp">
                <div class="mdl-card_header_container">
                    <!--heaeder-->
                    <h1 class="mdl_card_main_title" style="margin-right: 26px;">
                        CARD TITLE
                    </h1>
                </div>
                <div class="mdl_card_content">

                    <div class="item-container">
                        <i class="material-icons ico" role="presentation">attach_money</i>
                        <div class="item-detail-container">
                            <p class="description">$00,000.00</p>
                            <p class="leyend">Monto requerido</p>
                        </div>
                    </div>

                    <div class="item-container">
                        <i class="material-icons ico" role="presentation">attach_money</i>
                        <div class="item-detail-container">
                            <p class="description">$00,000.00</p>
                            <p class="leyend">Monto requerido</p>
                        </div>
                    </div>

                    <div class="item-container">
                        <i class="material-icons ico" role="presentation">attach_money</i>
                        <div class="item-detail-container">
                            <p class="description">$00,000.00</p>
                            <p class="leyend">Monto requerido</p>
                        </div>
                    </div>

                    <div class="item-container">
                        <i class="material-icons ico" role="presentation">attach_money</i>
                        <div class="item-detail-container">
                            <p class="description">$00,000.00</p>
                            <p class="leyend">Monto requerido</p>
                        </div>
                    </div>

                    <div class="item-container">
                        <i class="material-icons ico" role="presentation">attach_money</i>
                        <div class="item-detail-container">
                            <p class="description">$00,000.00</p>
                            <p class="leyend">Monto requerido</p>
                        </div>
                    </div>

                    <div class="item-container">
                        <i class="material-icons ico" role="presentation">attach_money</i>
                        <div class="item-detail-container">
                            <p class="description-second-level">$00,000.00</p>
                            <p class="leyend">Monto requerido</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="colum2">
            <div class="two_rows-section">
                <div class="row1">

                    <div class="mdl-card mdl-card__dashboard purple_900 mdl-shadow--2dp">
                        <div class="mdl-card_header_container">
                            <!--heaeder-->
                            <h1 class="mdl_card_main_title" style="margin-right: 26px;">
                                CARD TITLE
                            </h1>
                        </div>
                        <div class="mdl_card_content">

                            <div class="item-container">
                                <i class="material-icons ico" role="presentation">group</i>
                                <div class="item-detail-container">
                                    <p class="description-second-level-2">2</p>
                                    <p class="leyend">Número de personas</p>
                                </div>
                            </div>
                            <div class="item-container">
                                <i class="material-icons ico" role="presentation">attach_money</i>
                                <div class="item-detail-container">
                                    <p class="description-thirt-level">$00,000.00</p>
                                    <p class="leyend">Total</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row2">

                    <div class="mdl-card mdl-card__dashboard indigo_700 mdl-shadow--2dp">
                        <div class="mdl-card_header_container">
                            <!--heaeder-->
                            <h1 class="mdl_card_main_title" style="margin-right: 26px;">
                                CARD TITLE
                            </h1>
                        </div>
                        <div class="mdl_card_content">

                            <div class="item-container">
                                <i class="material-icons ico" role="presentation">group</i>
                                <div class="item-detail-container">
                                    <p class="description-second-level-2">5</p>
                                    <p class="leyend">número de personas</p>
                                </div>
                            </div>
                            <div class="item-container">
                                <i class="material-icons ico" role="presentation">attach_money</i>
                                <div class="item-detail-container">
                                    <p class="description-thirt-level">$00,000.00</p>
                                    <p class="leyend">Total</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--row 3-->
    <div class="two-colum-row">
        <div class="colum1">
            <div class="mdl-card mdl-card__dashboard red_900 mdl-shadow--2dp">
                <div class="mdl-card_header_container">
                    <!--header-->
                    <h1 class="mdl_card_main_title" style="margin-right: 26px;">
                        CARD TITLE
                    </h1>
                </div>
                <div class="mdl_card_content">

                    <div class="item-container">
                        <i class="material-icons ico" role="presentation">group</i>
                        <div class="item-detail-container">
                            <p class="description-second-level-2">7</p>
                            <p class="leyend">Número de personas</p>
                        </div>
                    </div>
                    <div class="item-container">
                        <i class="material-icons ico" role="presentation">attach_money</i>
                        <div class="item-detail-container">
                            <p class="description-thirt-level">$00,000.00</p>
                            <p class="leyend">Total</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="colum2">
            <div class="mdl-card mdl-card__dashboard pink_900 mdl-shadow--2dp">
                <div class="mdl-card_header_container">
                    <!--heaeder-->
                    <h1 class="mdl_card_main_title" style="margin-right: 26px;">
                        CARD TITLE
                    </h1>
                </div>
                <div class="mdl_card_content">

                    <div class="item-container">
                        <i class="material-icons ico" role="presentation">group</i>
                        <div class="item-detail-container">
                            <p class="description-second-level-2">4</p>
                            <p class="leyend">Número de personas</p>
                        </div>
                    </div>
                    <div class="item-container">
                        <i class="material-icons ico" role="presentation">attach_money</i>
                        <div class="item-detail-container">
                            <p class="description-thirt-level">$00,000.00</p>
                            <p class="leyend">Total</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

