﻿
@{
    ViewBag.Title = "Demo";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="mdl-card mdl-card__base mdl-shadow--2dp">
    <div class="mdl-card_header_container">
        <!--heaeder-->
        <h1 class="mdl_card_main_title">
            CARD 1
        </h1>
    </div>

    <div class="mdl_card_content">
        <p>Content goes here</p>
    </div>
</div>

<div class="mdl-card mdl-card__base mdl-shadow--2dp">
    <div class="mdl-card_header_container">
        <!--heaeder-->
        <h1 class="mdl_card_main_title">
            CARD 2
        </h1>
    </div>

    <div class="mdl_card_content2">
        <p>Content goes here</p>
    </div>
</div>

<div class="mdl-card mdl-card__base mdl-shadow--2dp">
    <div class="mdl-card_header_container">
        <!--heaeder-->
        <h1 class="mdl_card_main_title">
            CHECKBOXES
        </h1>
    </div>

    <div class="mdl_card_content">
        <p>Checkboxes sin contenido</p>
        <label class="float-label">Normal</label>
        <br />
        <label class="material-nc-checkbox">
            <input type="checkbox" />
            <span></span>
        </label>
        <br />
        <br />
        <label class="float-label">Normal Checked</label>
        <br />
        <label class="material-nc-checkbox">
            <input type="checkbox" checked="checked" />
            <span></span>
        </label>
        <br />
        <br />
        <label class="float-label">Disable</label>
        <br />
        <label class="material-nc-checkbox">
            <input type="checkbox" disabled="disabled" />
            <span></span>
        </label>
        <br />
        <br />
        <label class="float-label">Disable Checked</label>
        <br />
        <label class="material-nc-checkbox">
            <input type="checkbox" disabled="disabled" checked="checked" />
            <span></span>
        </label>

        <p>Checkboxes con label</p>
        <label class="float-label">Normal</label>
        <br />
        <label class="material-content-checkbox">
            <input type="checkbox" />
            <span>CONTENIDO</span>
        </label>
        <label class="float-label">Normal Checked</label>
        <br />
        <label class="material-content-checkbox">
            <input type="checkbox" checked="checked" />
            <span>CONTENIDO</span>
        </label>
        <label class="float-label">Disable</label>
        <br />
        <label class="material-content-checkbox">
            <input type="checkbox" disabled="disabled" />
            <span>CONTENIDO</span>
        </label>
        <label class="float-label">Disable Checked</label>
        <br />
        <label class="material-content-checkbox">
            <input type="checkbox" disabled="disabled" checked="checked" />
            <span>CONTENIDO</span>
        </label>

    </div>
</div>

<div class="mdl-card mdl-card__base mdl-shadow--2dp">
    <div class="mdl-card_header_container">
        <!--heaeder-->
        <h1 class="mdl_card_main_title">
            BADGES
        </h1>
    </div>

    <div class="mdl_card_content">

        <label class="SolBadge">
            <input type="checkbox" />
            <span>Badge 1</span>
        </label>

        @*label.SolBadge*4>input[type=checkbox]+span{badge $}*@

        <label class="SolBadge">
            <input type="checkbox" value="" />
            <span>badge 1</span>
        </label>
        <label class="SolBadge">
            <input type="checkbox" value="" />
            <span>badge 2</span>
        </label>
        <label class="SolBadge">
            <input type="checkbox" value="" />
            <span>badge 3</span>
        </label>
        <label class="SolBadge">
            <input type="checkbox" value="" />
            <span>badge 4</span>
        </label>

    </div>
</div>

<div class="mdl-card mdl-card__base mdl-shadow--2dp">
    <div class="mdl-card_header_container">
        <!--heaeder-->
        <h1 class="mdl_card_main_title">
            BADGES
        </h1>
    </div>

    <div class="mdl_card_content">
        <button type="button" id="btn1" class="mdl-button mdl-js-button mdl-js-ripple-effect colored_button">information</button>
        <button type="button" id="btn2" class="mdl-button mdl-js-button mdl-js-ripple-effect colored_button">action modal</button>
        <button type="button" id="btn3" class="mdl-button mdl-js-button mdl-js-ripple-effect colored_button">not cancelable</button>
        <button type="button" id="btn4" class="mdl-button mdl-js-button mdl-js-ripple-effect colored_button">loading</button>
    </div>
</div>


<script src="~/scripts/Home/modals.js"></script>

@*tr>td[data-label= "HEADER$"]{CONTENT$1}*9*@