﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Something is Wrong</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Pago de beneficios a pencionados CRECER">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--Initializing Material design resources-->
    <!--LOCAL RESOURCES-->
    <link href="~/Libs/MDL/res/RobotoTTF/RobotoFont.css" rel="stylesheet" />
    <link href="~/Libs/MDL/res/MaterialIcons/material-icons.css" rel="stylesheet">

    <!--MDL LIBRARY CSS-->
    <link rel="stylesheet" href="~/Libs/MDL/css/material.min.css">
    <script defer src="~/Libs/MDL/js/material.min.js"></script>

    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="~/Libs/MDL/css/CustomError.css" />
</head>
<body>
    <section>

        <div class="center">
            <div class="mdl-card mdl-shadow--4dp error_-container ">
                <div class="error_ico"></div>
                <p class="oops_title">Oops!!</p>
                <p class="error_leyend">Perdón, un error inesperado a sucedido...</p>
                <p class="description_label">Descripción:</p>
                <div class="error_text_conteiner">
                    <p class="error_text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
                </div>
                <a href="javascript:window.history.back();" class="mdl-button mdl-js-button mdl-js-ripple-effect error_button">ACEPTAR</a>
            </div>
        </div>
    </section>
</body>
</html>
