﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Pago de beneficios a pencionados CRECER">

    <title>AGT-GRC</title>

    <!--KENDO RESOURCES-->
    <link href="~/Content/kendo/2017.2.504/kendo.common-material.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/kendo/2017.2.504/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/kendo/2017.2.504/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/kendo/2017.2.504/kendo.material.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/kendo/2017.2.504/kendo.dataviz.material.min.css" rel="stylesheet" type="text/css" />
    <script src="~/scripts/kendo/2017.2.504/jquery.min.js"></script>
    <script src="~/scripts/kendo/2017.2.504/angular.min.js"></script>
    <script src="~/scripts/kendo/2017.2.504/jszip.min.js"></script>
    <script src="~/scripts/kendo/2017.2.504/kendo.all.min.js"></script>
    <script src="~/scripts/kendo/2017.2.504/kendo.all.min.js"></script>
    <link rel="shortcut icon" href="~/favicon.ico" />

    <!--Initializing Material design resources-->
    <!--LOCAL RESOURCES-->
    <link href="~/Libs/MDL/res/RobotoTTF/RobotoFont.css" rel="stylesheet" />
    <link href="~/Libs/MDL/res/MaterialIcons/material-icons.css" rel="stylesheet">

    <!--MDL LIBRARY CSS-->
    <link rel="stylesheet" href="~/Libs/MDL/css/material.min.css">
    <script defer src="~/Libs/MDL/js/material.min.js"></script>

    <!--ANIMATION CSS-->
    <link rel="stylesheet" href="~/Libs/Media/css/animation.css">

    <!--MATERIAL MODAL REFERENCES-->
    <script src="~/Libs/Material-modal/js/mdl-jquery-modal-dialog.js"></script>
    <link href="~/Libs//Material-modal/css/mdl-jquery-modal-dialog.css" rel="stylesheet">

    <!--JQUERY UI-->
    <link href="~/Libs//JqueryUI/jquery-ui.css" rel="stylesheet">
    <script src="~/Libs/JqueryUI/jquery-ui.js"></script>

    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="~/Libs/MDL/css/MaterialCustom.css">
    <link rel="stylesheet" href="~/Libs/MDL/css/MaterialAddings.css">
    <link rel="stylesheet" href="~/Libs/MDL/css/MaterialDashboard.css" />
    <link rel="stylesheet" href="~/Libs/MDL/css/MaterialProperties.css" />
    <link rel="stylesheet" href="~/Libs/MDL/css/material_right_drawer.css" />
    <link rel="stylesheet" href="~/Libs/MDL/css/Childdrawer.css" />
    <link href="~/Libs/MDL/css/GridLayout.css" rel="stylesheet" />
    <link href="~/Libs/MDL/css/ToolBar.css" rel="stylesheet" />

    <!--material accordio-->
    <link rel="stylesheet" type="text/css" href="~/Libs/MaterialDrawer/css/demo.css">
    <link rel="stylesheet" type="text/css" href="~/Libs/MaterialDrawer/css/jquery.accordion.css">


    <script src="~/Libs/Media/js/RightDrawer_Anim.js"></script>
    <script src="~/Libs/Media/js/FABs.js"></script>
    <script src="~/scripts/DrawerSubMenu/SubMenus.js"></script>

</head>
<body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

        <!--Header Content-->
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">MVC Client</span>
                <div class="mdl-layout-spacer"></div>
                <button value="close" id="show_notification_drawer" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">notifications_none</i>
                </button>
            </div>
        </header>
        <!--menu-->
        <!--Drawer-->
        <div class="mdl-layout__drawer">
            <div class="mdl-layout__drawer-header">
                <div>
                    <img class="drawer_header_ico" src="~/Content/TemplateResources/Picture1.png" style="height: 30px" alt="Logo" />
                </div>
                <div class="username-section">
                    <p class="username">
                        User_Name
                    </p>
                    <a href="#" class="log-off-btn">
                    </a>
                </div>
            </div>
            <nav class="mdl-navigation" >
                <section id="multiple" data-accordion-group>
                    <section data-accordion style="background-color: rgba(0, 0, 0, 0.00)">
                        <a class="mdl-navigation__link" href="#" data-control>Item 1</a>
                        <div data-content style="background-color: rgba(0, 0, 0, 0.00)">
                            <article>
                                <a class="mdl-navigation__link" href="#"><i class="material-icons" role="presentation">assessment</i>Item 1</a>
                            </article>
                            <article>
                                <a class="mdl-navigation__link" href="#"><i class="material-icons" role="presentation">assessment</i>Item 2</a>
                            </article>
                            <article>
                                <a class="mdl-navigation__link" href="#"><i class="material-icons" role="presentation">assessment</i>Item 3</a>
                            </article>
                            <article>
                                <a class="mdl-navigation__link" href="#"><i class="material-icons" role="presentation">assessment</i>Item 4</a>
                            </article>
                        </div>
                    </section>

                    <section data-accordion style="background-color: rgba(0, 0, 0, 0.00)">
                        <a class="mdl-navigation__link" href="#" data-control>Item 2</a>
                        <div data-content style="background-color: rgba(0, 0, 0, 0.00)">
                            <article>
                                <a class="mdl-navigation__link" href="#"><i class="material-icons" role="presentation">assessment</i>Item 1</a>
                            </article>
                            <article>
                                <a class="mdl-navigation__link" href="#"><i class="material-icons" role="presentation">assessment</i>Item 2</a>
                            </article>
                            <article>
                                <a class="mdl-navigation__link" href="#"><i class="material-icons" role="presentation">assessment</i>Item 3</a>
                            </article>
                            <article>
                                <a class="mdl-navigation__link" href="#"><i class="material-icons" role="presentation">assessment</i>Item 4</a>
                            </article>
                        </div>
                    </section>
                </section>
            </nav>
        </div>

        <main class="mdl-layout__content mdl-color--grey-100">
            <div class="page-content">
                <!--LEFT DRAWER-->

                <h5>Drawer DEsplegable</h5>
            </div>
        </main>

        <div id="snackbar-msj" class="mdl-js-snackbar mdl-snackbar" style="z-index: 100000">
            <div class="mdl-snackbar__text"></div>
            <button id="snackbar-btn" class="mdl-snackbar__action" type="button" style="color: white;"></button>
        </div>
    </div>
</body>
</html>


<script type="text/javascript" src="~/Libs/MaterialDrawer/js/jquery.accordion.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#only-one [data-accordion]').accordion();

        $('#multiple [data-accordion]').accordion({
            singleOpen: false
        });

        $('#single[data-accordion]').accordion({
            transitionEasing: 'cubic-bezier(0.455, 0.030, 0.515, 0.955)',
            transitionSpeed: 200
        });
    });
</script>