﻿
@{
    ViewBag.Title = "GoogleCharts";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['Country', 'Popularity'],
          ['Germany', 200],
          ['United States', 300],
          ['Brazil', 400],
          ['Canada', 500],
          ['France', 600],
          ['RU', 700]
        ]);

        var options = {};

        var chart = new google.visualization.GeoChart(document.getElementById('geochart_div'));

        chart.draw(data, options);
      }
</script>

<script type="text/javascript">
      google.charts.load('current', { 'packages': ['bar'] });
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
          var data = google.visualization.arrayToDataTable([
              ['Year', 'Sales', 'Expenses', 'Profit'],
              ['2014', 1000, 400, 200],
              ['2015', 1170, 460, 250],
              ['2016', 660, 1120, 300],
              ['2017', 1030, 540, 350]
          ]);

          var options = {
              chart: {
                  title: 'Company Performance',
                  subtitle: 'Sales, Expenses, and Profit: 2014-2017',
              },
              bars: 'horizontal' // Required for Material Bar Charts.
          };

          var chart = new google.charts.Bar(document.getElementById('barchart_material'));

          chart.draw(data, google.charts.Bar.convertOptions(options));
      }
</script>

<script type="text/javascript">
      google.charts.load('current', { 'packages': ['corechart', 'bar'] });
      google.charts.setOnLoadCallback(drawStuff);

      function drawStuff() {

          var button = document.getElementById('change-chart');
          var chartDiv = document.getElementById('chart_div');

          var data = google.visualization.arrayToDataTable([
              ['Galaxy', 'Distance', 'Brightness'],
              ['Canis Major Dwarf', 8000, 23.3],
              ['Sagittarius Dwarf', 24000, 4.5],
              ['Ursa Major II Dwarf', 30000, 14.3],
              ['Lg. Magellanic Cloud', 50000, 0.9],
              ['Bootes I', 60000, 13.1]
          ]);

          var materialOptions = {
              //width: 900,
              chart: {
                  title: 'Nearby galaxies',
                  subtitle: 'distance on the left, brightness on the right'
              },
              series: {
                  0: { axis: 'distance' }, // Bind series 0 to an axis named 'distance'.
                  1: { axis: 'brightness' } // Bind series 1 to an axis named 'brightness'.
              },
              axes: {
                  y: {
                      distance: { label: 'parsecs' }, // Left y-axis.
                      brightness: { side: 'right', label: 'apparent magnitude' } // Right y-axis.
                  }
              }
          };

          var classicOptions = {
              //width: 900,
              series: {
                  0: { targetAxisIndex: 0 },
                  1: { targetAxisIndex: 1 }
              },
              title: 'Nearby galaxies - distance on the left, brightness on the right',
              vAxes: {
                  // Adds titles to each axis.
                  0: { title: 'parsecs' },
                  1: { title: 'apparent magnitude' }
              }
          };

          function drawMaterialChart() {
              var materialChart = new google.charts.Bar(chartDiv);
              materialChart.draw(data, google.charts.Bar.convertOptions(materialOptions));
              button.innerText = 'Change to Classic';
              button.onclick = drawClassicChart;
          }

          function drawClassicChart() {
              var classicChart = new google.visualization.ColumnChart(chartDiv);
              classicChart.draw(data, classicOptions);
              button.innerText = 'Change to Material';
              button.onclick = drawMaterialChart;
          }

          drawMaterialChart();
      };
</script>

<div class="mdl-card mdl-card__base mdl-shadow--2dp">
    <div class="mdl-card_header_container">
        <!--heaeder-->
        <h1 class="mdl_card_main_title">
            GeoChart
        </h1>
    </div>

    <div class="mdl_card_content" id="geochart_div">

    </div>
</div>

<div class="mdl-card mdl-card__base mdl-shadow--2dp">
    <div class="mdl-card_header_container">
        <!--heaeder-->
        <h1 class="mdl_card_main_title">
            BarChart
        </h1>
    </div>

    <div class="mdl_card_content" id="barchart_material" style="height: 400px">

    </div>
</div>

<div class="mdl-card mdl-card__base mdl-shadow--2dp" style="margin-right: 0px">
    <div class="mdl-card_header_container">
        <!--heaeder-->
        <h1 class="mdl_card_main_title">
            ColumnChart
        </h1>
    </div>

    <div class="mdl_card_content" id="chart_div" style="height: 400px">

    </div>
</div>