﻿@{
    ViewBag.Title = "Beneficios - Login";
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>GRC - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Pago de beneficios a pencionados CRECER">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--Initializing Material design resources-->
    <!--LOCAL RESOURCES-->
    <link href="~/Libs/MDL/res/RobotoTTF/RobotoFont.css" rel="stylesheet" />
    <link href="~/Libs/MDL/res/MaterialIcons/material-icons.css" rel="stylesheet">

    <!--MDL LIBRARY CSS-->
    <link rel="stylesheet" href="~/Libs/MDL/css/material.min.css">
    <link rel="stylesheet" href="~/Libs/MDL/css/MaterialProperties.css">
    <script defer src="~/Libs/MDL/js/material.min.js"></script>


    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="~/Libs/MDL/css/CustomLogin.css" />
    <style>
        body {
            background-color: #1C74A6;
        }
    </style>
</head>
<body>
    <section>
        <div class="center">
            <div class="mdl-card mdl-shadow--4dp login-container">
                <div class="login_ico">
                </div>
                <div class="header_legend">
                    <p class="sub_title">AGT GRC</p>
                    <p class="legend">"Sistema para registro y autoevaluacion y seguimiento de las actividades de control interno"</p>
                </div>
                <form id="formLogin" method="post" action="">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label input-text">
                        <input class="mdl-textfield__input" type="text" id="txtUserName" name="User" />
                        <label class="mdl-textfield__label" for="txtUserName">Usuario</label>
                    </div>

                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label input-text">
                        <input class="mdl-textfield__input" type="password" id="txtUserName" name="Password" />
                        <label class="mdl-textfield__label" for="txtUserName">Contraseña</label>
                    </div>

                    <div class="help_section">
                        <a>Cambiar Contraseña</a>
                        <a>Reiniciar Contraseña</a>
                    </div>

                    @*<a href="@Url.Action("Index", "Home")" class="mdl-button mdl-js-button mdl-js-ripple-effect login_button">ACEPTAR</a>*@
                    <a href="@Url.Action("DashBoard","Home")" class="mdl-button mdl-js-button mdl-js-ripple-effect login_button">ACEPTAR</a>
                    <!--OR-->
                    @*<button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect login_button">ACEPTAR</button>*@
                </form>
            </div>
        </div>
    </section>
</body>
</html>
