﻿
@{
    ViewBag.Title = "KendoGrid";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="mdl-card mdl-card__base mdl-shadow--2dp" style="width: 100%">
    <div class="mdl-card_header_container">
        <!--heaeder-->
        <h1 class="mdl_card_main_title">
            Personas
        </h1>
    </div>


    <div class="mdl_card_content2">
        <div id="grid">

        </div>
    </div>

</div>


<div class="mdl-card mdl-card__base mdl-shadow--2dp" style="width: 100%">
    <div class="mdl-card_header_container">
        <!--heaeder-->
        <h1 class="mdl_card_main_title">
            Pivot Grid
        </h1>
    </div>


    <div class="mdl_card_content2">
        <div id="configurator" class="hidden-on-narrow"></div>
        <div id="pivotgrid" class="hidden-on-narrow" style="width: 68%"></div>

        <div class="responsive-message"></div>
    </div>

</div>


<script>
	$(document).ready(function() {

        $("#grid").kendoGrid({
            dataSource: {
                type: "odata",
                transport: {
                    read: "http://demos.telerik.com/kendo-ui/service/Northwind.svc/Orders"
                },
                schema: {
                    model: {
                        fields: {
                            OrderID: { type: "number" },
                            Freight: { type: "number" },
                            ShipName: { type: "string" },
                            OrderDate: { type: "date" },
                            ShipCity: { type: "string" }
                        }
                    }
                },
                pageSize: 20
            },
            height: 550,
            filterable: true,
            sortable: true,
            pageable: true,
            columns: [{
                    field:"OrderID",
                    filterable: false
                },
                "Freight",
                {
                    field: "OrderDate",
                    title: "Order Date",
                    format: "{0:MM/dd/yyyy}"
                }, {
                    field: "ShipName",
                    title: "Ship Name"
                }, {
                    field: "ShipCity",
                    title: "Ship City"
                }
            ]
        });
    });
</script>





<script>
    $(document).ready(function () {
        var pivotgrid = $("#pivotgrid").kendoPivotGrid({
            filterable: true,
            sortable: true,
            columnWidth: 200,
            height: 580,
            dataSource: {
                type: "xmla",
                columns: [{ name: "[Date].[Calendar]", expand: true }, { name: "[Product].[Category]" }],
                rows: [{ name: "[Geography].[City]" }],
                measures: ["[Measures].[Reseller Freight Cost]"],
                transport: {
                    connection: {
                        catalog: "Adventure Works DW 2008R2",
                        cube: "Adventure Works"
                    },
                    read: "https://demos.telerik.com/olap/msmdpump.dll"
                },
                schema: {
                    type: "xmla"
                },
                error: function (e) {
                    alert("error: " + kendo.stringify(e.errors[0]));
                }
            }
        }).data("kendoPivotGrid");

        $("#configurator").kendoPivotConfigurator({
            dataSource: pivotgrid.dataSource,
            filterable: true,
            sortable: true,
            height: 580
        });
    });
</script>
<style>
    #pivotgrid {
        width: 70%;
    }

    .hidden-on-narrow {
        display: inline-block;
        vertical-align: top;
    }
</style>