﻿
@{
    ViewBag.Title = "TextStyles";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="mdl-card mdl-card__base mdl-shadow--2dp">
    <div class="mdl-card_header_container">
        <!--heaeder-->
        <h1 class="mdl_card_main_title">
            TextStyles
        </h1>
    </div>
    <div class="mdl_card_content">

        <div class="docs-text-styling">
            <section id="include">
                <div class="styles__content">
                    <h2 class="mdl-typography--subhead">Typography</h2>
                    <dl class="typo-styles">
                        <dt>h1</dt>
                        <dd>
                            <div class="typo-styles__demo mdl-typography--display-4">Light 112sp</div>
                            <div class="typo-styles__desc">
                                <span class="typo-styles__name">display-4</span>
                                <span class="typo-styles__weight">font weight 300</span>
                            </div>
                        </dd>
                        <dt>h2</dt>
                        <dd>
                            <div class="typo-styles__demo mdl-typography--display-3">Regular 56sp</div>
                            <div class="typo-styles__desc">
                                <span class="typo-styles__name">display-3</span>
                                <span class="typo-styles__weight">font weight 400</span>
                            </div>
                        </dd>
                        <dt>h3</dt>
                        <dd>
                            <div class="typo-styles__demo mdl-typography--display-2">Regular 45sp</div>
                            <div class="typo-styles__desc">
                                <span class="typo-styles__name">display-2</span>
                                <span class="typo-styles__weight">font weight 400</span>
                            </div>
                        </dd>
                        <dt>h4</dt>
                        <dd>
                            <div class="typo-styles__demo mdl-typography--display-1">Regular 34sp</div>
                            <div class="typo-styles__desc">
                                <span class="typo-styles__name">display-1</span>
                                <span class="typo-styles__weight">font weight 400</span>
                            </div>
                        </dd>
                        <dt>h5</dt>
                        <dd>
                            <div class="typo-styles__demo mdl-typography--headline">Regular 24sp</div>
                            <div class="typo-styles__desc">
                                <span class="typo-styles__name">headline</span>
                                <span class="typo-styles__weight">font weight 400</span>
                            </div>
                        </dd>
                        <dt>h6</dt>
                        <dd>
                            <div class="typo-styles__demo mdl-typography--title">Regular 20sp</div>
                            <div class="typo-styles__desc">
                                <span class="typo-styles__name">title</span>
                                <span class="typo-styles__weight">font weight 500</span>
                            </div>
                        </dd>
                    </dl>
                </div>
            </section>
        </div>
    </div>
</div>
