﻿<a class="drawer-back-arrow" onclick="goToComponentsBack()">Componentes</a>
<p class="section-description">
    Controles, Estados, card Views, Estates, Google Charts, etc
</p>
<a class="mini-card-menu" href="@Url.Action("Dashboard","Home")">DashBoard</a>
<a class="mini-card-menu" href="@Url.Action("Dashboard2","Home")">DashBoard 2</a>
<a class="mini-card-menu" href="@Url.Action("Index","Personas")">Material Table y Popups</a>
<a class="mini-card-menu" href="@Url.Action("Components","Home")">Componentes</a>
<a class="mini-card-menu" href="@Url.Action("KendoGrid","Home")">Telerik Grid</a>
<a class="mini-card-menu" href="@Url.Action("Index","DemoPersonas")">JsonResult Grid</a>
<a class="mini-card-menu" href="@Url.Action("GoogleCharts","Home")">Google Charts</a>
<a class="mini-card-menu" href="@Url.Action("TextStyles","Home")">Typografia</a>