﻿/**
 * Crecer Diaglog
 * @version v1.0.0
 * @copyright 2016 dnds,
 * @link http://www.dnds-systems.com
 */
@charset "UTF-8";
/**
 * Copyright 2015
 * CREATED BY
 * Eliseo Gomez
 * email: jose.eliseo.gomez@gmail.com
/* Material Design Lite */
/**
 * Copyright 2015
 */

.dialog-container .form-table td:first-child {
    padding-left: 0px;
    padding-right: 8px;
}

.dialog-container .form-table td {
    padding-left: 8px;
    padding-right: 0px;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.subtitle-section {
    font-weight: 700;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.38);
    margin-top: 30px;
}

.dialog-container,
.loading-container {
    width: 100%;
    height: 100vh;
    display:table;
    vertical-align: central;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: scroll;
    overflow-x: hidden !important;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
}

    .dialog-container div {
        display: table-cell;
        vertical-align: middle;
    }

    .loading-container > div {
            display: table-cell;
            vertical-align: middle;
        }
.loading-container > div > div {
    margin: auto auto;
    padding: 26px;
    display:block;
    position: relative;
    max-width: 500px;
    min-height: 25px;
    z-index: 99999;
    padding: 16px 16px 16px 16px;
}

.mdl-textfield {
    padding-top: 16px !important;
    padding-right: 16px !important;
    padding-bottom: 20px !important;
    padding-left: 16px !important;
}

.content-container {
    margin: 0px !important;
    padding: 0px !important;
    width: 100% !important;
    overflow-y: scroll;
    overflow-x: hidden !important;
    scrollbar-arrow-color: rgba(255, 255, 255, 0.00);
    scrollbar-base-color: rgba(0, 0, 0, 0.00);
    max-height:400px;

}

.loading-container > div > div > .mdl-spinner {
    width: 48px;
    height: 48px;
    margin: auto auto;
    margin-top: 26px !important;
    margin-bottom: 36px !important;
    display: block !important;
}

.dialog-container div div {
    margin: auto auto;
    padding: 26px;
    display:block;
    position: relative;
    width: 90%;
    max-width: 500px;
    min-height: 25px;
    z-index: 99999;
    padding: 16px 16px 16px 16px;
}

.dialog-container h5 {
    margin: 16px 0 24px !important;
}


.dialog-button-bar, mdl-card__actions {
    width: 100% !important;
    text-align: right;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    float: right;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.mdl-textfield{
    width: 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    display: block !important;
    }
/*.loading-container > div {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 10% auto;
    z-index: 99999;
}*/

/*.loading-container > div > div {
    width: 100%;
    height: 100%;
}*/