﻿.drawer-back-arrow {
    background-image: url(../../../Content/TemplateResources/ic_arrow_back_white_24px.svg);
    background-position-y: center;
    background-position-x: 17px;
    color: white;
    padding-left: 52px;
    background-repeat: no-repeat;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

    .drawer-back-arrow:hover {
        background-color: rgba(255, 255, 255, 0.20)
    }

.section-description{
    padding-left: 16px;
    padding-right: 16px;
    color: rgba(255, 255, 255, 0.25);
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
}

.mini-card-menu {
    background-color: #607D8B;
    color: white;
    font-family: Rockwell;
    font-weight: 500;
    margin: 8px 16px 8px 16px;
    padding: 8px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.35);
    border-radius: 2px;
    font-size: 16px;
    line-height: 19px;
}

    .mini-card-menu:hover {
        background-color: rgba(96, 125, 139, 0.65);
    }

