﻿/**
 * Crecer Custom
 * @version v1.0.0
 * @copyright 2015 Arc1Lab,
 * @link http://www.dnds-systems.com
 */
@charset "UTF-8";
/**
 * Copyright 2015
 * CREATED BY
 * Eliseo Gomez
 * email: jose.eliseo.gomez@gmail.com
/* Material Design Lite */
/**
 * Copyright 2015
 */


/*-------------------
    PRYMARY STYLE
-------------------*/

*, *::after, *::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/*---------------------
    LOGIN
----------------------*/

section {
    width: 100%;
    height: 100vh;
    display:table;
}
    section .center {
        display: table-cell;
        vertical-align: middle;
    }

.login-container {
    width: 560px;
    margin: auto auto;
    padding: 26px;
    display:block;
    height: auto;
    display: table;
}

.header_legend .sub_title{
    color: #755233;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 0px;
}

.header_legend .legend{
    margin-top: 9px;
    color: #375f75;
    font-size: 16px;
    font-weight: lighter;
}

.help_section a {
    position: relative;
    display: flex;
    color: #0187BB;
    font-size: 12px;
    margin: 8px 0 8px 0;
    cursor: pointer;
}

.login_ico {
    margin: 0 auto;
    width: auto;
    height: 50px;
    background-image: url(../../../Content/TemplateResources/ico_login_header.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    margin-bottom: 16px;
}


.login_button {
    color: #0187bb;
    margin-top: 16px;
    margin-right: 0;
    float: right;
}

.error_button {
    color: #0187bb;
    margin-top: 16px;
    position: relative;
    display: block;
    margin: auto;
}

#formLogin {
    margin-top: 46px;
    margin: auto;
}

#formLogin .input-text {
    width: 100%;
}

@media screen and (max-width: 480px) {
    .login-container {
        width: 300px;
        margin: auto auto;
        padding: 26px;
        display:block;
    }
}