﻿/**
 * Crecer Custom 
 * @version v1.0.0
 * @copyright 2015 Arc1Lab,
 * @link http://www.dnds-systems.com
 */
@charset "UTF-8";
/**
 * Copyright 2015
 * CREATED BY 
 * Eliseo Gomez
 * email: jose.eliseo.gomez@gmail.com
/* Material Design Lite */
/**
 * Copyright 2015
 */


/*-------------------

    PRYMARY STYLE

-------------------*/

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background-color: #00AECB;
}

a {
    text-decoration: none;
}

/*---------------------

    LOGIN

----------------------*/

section {
    width: 100%;
    height: 100vh;
    display: table;
}

    section .center {
        display: table-cell;
        vertical-align: middle;
    }


.error_-container {
    width: 400px;
    margin: 26PX auto;
    padding: 26px;
    display: block;
}

.error_ico {
    width: 70px;
    height: 70px;
    background-image: url(../../../Content/TemplateResources/ic_sentiment_dissatisfied_black.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    margin-bottom: 16px;
}

.connection_ico {
    width: 70px;
    height: 70px;
    background-image: url(../../../Content/TemplateResources/ic_cloud_off_black.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    margin-bottom: 16px;
}

.oops_title {
    margin-top: 46px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #7A8083;
}

.oops_title-2 {
    margin-top: 0px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #7A8083;
}

.error_leyend {
    margin-top: 20px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 17px;
    font-weight: 300;
}

.description_label {
    margin-top: 16px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 17px;
    font-weight: 500;
}

.error_text_conteiner {
    background-color: #eeeeee;
    padding: 10px;
}

.error_text {
    font-family: Consolas;
}

.error_button {
    color: #0187bb;
    margin-top: 16px;
    margin-right: 0;
    float: right;
}

.error_-form {
    margin-top: 46px;
    margin: auto;
}

@media screen and (max-width: 480px) {

    .error_-container {
        width: 300px;
        margin: 26px auto;
        padding: 26px;
        display: block;
    }

    .error_ico {
        width: 50px;
        height: 50px;
        margin-bottom: 16px;
    }

    .oops_title {
        margin-top: 26px;
        font-size: 50px;
    }

    .error_leyend {
        margin-top: 26px;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 16px;
    }

    .description_label {
        margin-top: 16px;
        font-size: 14px;
        font-weight: 500;
    }

    .error_text_conteiner {
        background-color: #eeeeee;
        padding: 10px;
    }

    .error_text {
        font-family: Consolas;
    }
}