﻿.material-grid {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 auto;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

    .material-grid .mdl-card__base {
        margin-left: 0px !important;
    }

.material-cell {
    margin-top: 0px;
    box-sizing: border-box;
    padding: 0px;
}

/*4 column cell*/
.material-cel--4-col {
    margin-right: 16px;
    width: calc(33.333333333% - 16px);
}

.material-cel--4-col-last {
    margin-left: 16px;
    width: calc(33.333333333% - 16px);
}


/*6 column cell*/
.material-cel--6-col {
    margin-right: 16px;
    width: calc(50% - 16px);
}

.material-cel--6-col-last {
    margin-left: 16px;
    width: calc(50% - 16px);
}

/*8 column cell*/
.material-cel--8-col {
    margin-right: 16px;
    width: calc(66.666666667% - 16px);
}

.material-cel--8-col-last {
    margin-left: 16px;
    width: calc(66.666666667% - 16px);
}

/*8 column cell*/
.material-cel--12-col{
    width: 100%;
}