﻿/**
 * Material Addings
 * @version v1.0.0
 * @copyright 2017 AGT,
 * @link http://www.dnds-systems.com
 */
@charset "UTF-8";
/**
 * Copyright 2015
 * CREATED BY
 * Eliseo Gomez
 * email: jose.eliseo.gomez@gmail.com
/* Material Design Lite */
/**
 * Copyright 2015
 */

.data-label-input {
    padding-top: 0px !important;
}

.mdl-card__base, .mdl-card {
    z-index: !important;
}

a:hover, a:visited, a:after, a:checked, a:valid, a:focus {
    text-decoration: none !important;
}

body, html {
    background: #fafafa;
}

.mdl-card {
    padding: 0px;
    height: auto !important;
    display: flex !important;
    z-index: 0px !important;
}

.mini-detail-container {
    margin: 0px;
    width: 100%;
    height: auto;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 16px;
    aling-items: center;
    align-content: center;
}

    .mini-detail-container .description {
        font-family: 'Roboto', 'Helvetica', sans-serif;
        font-size: 16px;
        color: #FFF;
        line-height: 19px;
        margin-bottom: 0;
        width: 100%;
    }

    .mini-detail-container .leyend {
        font-family: 'Roboto', 'Helvetica', sans-serif;
        font-size: 14px;
        color: RGBA(255,255,255,0.8);
        line-height: 16px;
        margin-bottom: 0;
        margin-top: 5px;
        font-weight: 300;
        width: 100%;
    }

.mini-detail-container-dark {
    margin: 0px;
    width: 100%;
    height: auto;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 16px;
    aling-items: center;
    align-content: center;
}

    .mini-detail-container-dark .description {
        font-family: 'Roboto', 'Helvetica', sans-serif;
        font-size: 16px;
        color: #4D4D4E;
        line-height: 19px;
        margin-bottom: 0;
        width: 100%;
    }

    .mini-detail-container-dark .leyend {
        font-family: 'Roboto', 'Helvetica', sans-serif;
        font-size: 14px;
        color: rgba(77, 77, 78, 0.80);
        line-height: 16px;
        margin-bottom: 0;
        margin-top: 5px;
        font-weight: 300;
        width: 100%;
    }

.panel .mdl-list .disabled, .panel .mdl-list .disabled a {
    opacity: 0.5 !important;
    /*display: none;*/
    cursor: not-allowed !important;
    color: rgba(0, 0, 0, 0.50) !important;
}

    .panel .mdl-list .disabled:hover {
        background-color: none !important;
    }

.login_button {
    color: #0187bb;
    margin-top: 16px;
    margin-right: 0;
    float: right;
}

.set-devider {
    background-image: url(../../../Content/TemplateResources/vertical-devider.png);
    background-position-x: center;
    background-repeat: repeat-y;
}

a {
    cursor: pointer !important;
}

.back-blue-btn {
    text-decoration: none !important;
    color: #00AECB !important;
}

    .back-blue-btn:hover {
        text-decoration: none !important;
    }

.fixed-width {
    width: 100% !important;
}

.card-context-options {
    float: right;
    position: relative;
    display: block;
}

    .card-context-options > button {
        color: white !important;
        margin-top: 20px;
        margin-right: 16px;
    }

.p-forfloat-label {
    font-size: 12px !important;
    letter-spacing: 0;
    margin-bottom: 4px;
    font-weight: 600;
}

.mdl-textfield label {
    margin-bottom: 0px !important;
}

.mdl-checkbox__label, mdl-radio__label {
    font-size: 12px !important;
}

.mdl-radio__outer-circle {
    border: 2px solid #00AECB !important;
}

.mdl-radio__inner-circle {
    background-color: #00AECB !important;
}

td {
    vertical-align: top !important;
    -webkit-box-align: start;
}

.blue_card_header {
    background-color: #00AECB;
    color: #FFF !important;
}

    .blue_card_header .mdl_card_main_title {
        color: #FFF !important;
    }

.mdl_card_content, .mdl_card_content2 {
    font-size: 12px !important;
}

.mdl-card label {
    font-size: 12px !important;
}

.mdl-card label {
    margin-bottom: 1px;
    margin-right: 8px;
}

.header-devider {
    margin-top: 8px;
    margin-bottom: 14px;
    margin-left: -24px;
    margin-right: -24px;
    border-top: rgba(255, 255, 255, 0.36) solid 1px;
}

.mdl-badge[data-badge]:after {
    content: attr(data-badge) !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
    background: #e3e829 !important;
    color: #00AECB !important;
}


.mdl-menu__container {
    margin-bottom: 20px !important;
}

    .mdl-menu__container ul li:hover {
        background-color: #e0e0e0;
    }

.no_bordered_table {
    border: 1px solid #ffffff !important;
}

    .no_bordered_table tbody {
        border: 1px solid #ffffff !important;
    }

    .no_bordered_table tr {
        border: 1px solid #ffffff !important;
    }

    .no_bordered_table thead {
        border: 1px solid #ffffff !important;
    }

        .no_bordered_table thead th {
            border-bottom: 1px solid #ffffff !important;
        }

::-webkit-input-placeholder {
    color: #e0e0e0;
}

:-moz-placeholder { /* Firefox 18- */
    color: #e0e0e0;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #e0e0e0;
}

:-ms-input-placeholder {
    color: #e0e0e0;
}

.bak-button {
    float: right;
    margin-bottom: 16px;
    margin-right: 24px;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 100;
}

.moderntable {
    border: 0 solid rgba(204, 204, 204, 0.00);
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

    .moderntable a {
        text-decoration: none;
    }

    .moderntable tr td {
        border: 0px solid #e0e0e0;
        padding-left: 16px;
    }

    .moderntable tr:last-child {
        border: 0 solid #e0e0e0;
        padding: 5px;
    }

    .moderntable .customtr {
        border: 0 solid #e0e0e0;
        padding: 5px;
    }

        .moderntable .customtr a {
            color: #4D4D4E;
        }

    .moderntable th, .moderntable td {
        padding-left: 26px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        text-align: left;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 13px;
        font-weight: 400;
        font-stretch: normal;
    }

    .moderntable th {
        text-transform: uppercase;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 12px;
        color: #4D4D4E;
        font-weight: 800;
        font-stretch: normal;
    }

/*--grid statistic links*/
.data-down {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-stretch: normal;
    color: #b62e2e;
    background-image: url(../Content/Image/ico_down.svg);
    padding-left: 20px;
    background-position-y: center;
    background-repeat: no-repeat;
    text-decoration: none;
}

.data-up {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-stretch: normal;
    color: #428124;
    background-image: url(../Content/Image/ico-up.svg);
    padding-left: 20px;
    background-position-y: center;
    background-repeat: no-repeat;
    text-decoration: none;
}


.data-normal {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-stretch: normal;
    color: #eba813;
    background-size: 15px 12px;
    background-image: url(../Content/Image/chek_ico.svg);
    padding-left: 20px;
    background-position-y: center;
    background-repeat: no-repeat;
    text-decoration: none;
}

.data-NA {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    color: #969696;
    background-position-y: center;
    background-repeat: no-repeat;
    text-decoration: none;
}


/*country statistic*/
.data-a-container {
    float: left;
}

.data-per-country-up {
    background-color: #428124;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    width: 60px;
}

.data-per-country-down {
    background-color: #b62e2e;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    width: 60px;
}

.data-per-country-normal {
    background-color: #eba813;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    width: 60px;
}

.country-name-for-data {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 9px;
    font-weight: 500;
    font-stretch: normal;
    color: #FFF;
    text-decoration: none;
    margin: 0;
}

.country-percent-for-data {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    color: #FFF;
    text-decoration: none;
    margin-top: -8px;
    margin-bottom: 0;
}


.format-percet-down {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 13px;
    background: #b62e2e;
    font-weight: 400;
    font-stretch: normal;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

.format-percet-up {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 13px;
    background: #428124;
    font-weight: 400;
    font-stretch: normal;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

.format-percet-normal {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 13px;
    background: #eba813;
    font-weight: 400;
    font-stretch: normal;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

.flag-ico-for-format {
    height: 40px;
    width: 61px;
    float: left;
    margin-right: 16px;
    margin-left: 24px;
}

.supermarket-ico-for-format {
    height: 40px;
    width: 90px;
    float: left;
    margin-right: 16px;
}

.money-type {
    text-align: end !important;
    text-align: right !important;
}



/*table for reports thit more than colums*/
.reportntable {
    border: 0 solid rgba(204, 204, 204, 0.00);
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

    .reportntable a {
        text-decoration: none;
    }

    .reportntable tr {
        border: 0px solid #e0e0e0;
        padding-left: 16px;
    }

        .reportntable tr:last-child {
            border: 0 solid #e0e0e0;
            padding: 5px;
        }

    .reportntable .customtr {
        border: 0 solid #e0e0e0;
        padding: 5px;
    }

    .reportntable th, .reportntable td {
        padding-left: 26px;
        padding-top: 9px;
        padding-bottom: 10px;
        padding-right: 10px;
        text-align: left;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 12px;
        font-weight: 400;
        font-stretch: normal;
        vertical-align: middle !important;
    }

    .reportntable th {
        text-transform: uppercase;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 11px !important;
        color: #4D4D4E;
        font-weight: 800;
        font-stretch: normal;
    }

    /*STATES*/

    .reportntable .data-down-for-report {
        color: #b62e2e !important;
    }

    .reportntable .data-up-for-report {
        color: #428124 !important;
    }

    .reportntable .data-normal-for-report {
        color: #eba813 !important;
    }

    .reportntable .data-down-for-report a {
        color: #b62e2e !important;
    }

    .reportntable .data-up-for-report a {
        color: #428124 !important;
    }

    .reportntable .data-normal-for-report a {
        color: #eba813 !important;
    }

    .reportntable .store-for-report {
        text-transform: uppercase;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        text-decoration: none;
    }


/*POPUP TABLE*/

.popuptable {
    border: 0 solid rgba(204, 204, 204, 0.00);
    border: 0 solid rgba(204, 204, 204, 0.00);
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

    .popuptable a {
        text-decoration: none;
    }

    .popuptable tr {
        border: 1px solid #e0e0e0;
        padding-left: 16px;
    }

        .popuptable tr:last-child {
            border: 1px solid #e0e0e0;
            padding: 5px;
        }

    .popuptable .customtr {
        border: 0 solid #e0e0e0;
        padding: 5px;
    }

        .popuptable .customtr a {
            color: #4D4D4E;
        }

    .popuptable th:first-child {
        width: 40px;
    }

    .popuptable th, .popuptable td {
        padding-left: 26px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        text-align: left;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 13px;
        font-weight: 400;
        font-stretch: normal;
    }

    .popuptable th {
        text-transform: uppercase;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 12px;
        color: #4D4D4E;
        font-weight: 800;
        font-stretch: normal;
    }



/*FORMS*/

.form-table {
    width: 100%;
}

    .form-table td {
        width: 50%;
        padding: 4px;
        text-align: start;
        vertical-align: top;
    }

    .form-table .row-leyend {
        font-size: 16px;
        font-weight: 500;
    }

.float-label {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
    color: #00AECB;
    margin-top: 0px;
    margin-bottom: 0px;
}


.float-label-error {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
    color: #00AECB;
    text-align: center;
    margin-bottom: 10px;
}

.float-label-text {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
    color: #000;
    text-align: center;
}

.submit_button {
    color: #0187bb;
    margin-top: 16px;
    margin-bottom: 10px;
    margin-right: 8px;
    float: right;
}

.popup_submit_button {
    color: #0187bb;
}

.form-space-divider {
    height: auto;
    margin-top: 0;
    padding: 0;
    display: block;
    position: relative;
}

.form-space-divider2 {
    display: none;
    position: relative;
}

.form-resul-title {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
    color: #797979;
    text-align: right;
    margin-right: 16px;
    margin-bottom: 0;
}

.form-resul-subtitle {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    text-decoration: none;
    color: #797979;
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 16px;
}


.form_table {
    border: 0 solid rgba(204, 204, 204, 0.00);
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

    .form_table a {
        text-decoration: none;
    }

    .form_table tr {
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
        padding-left: 16px;
    }

    .form_table th:first-child {
        width: 60px;
    }

    .form_table tr:last-child {
        border: 0 solid #e0e0e0;
        padding: 5px;
    }

    .form_table .customtr {
        border: 0 solid #e0e0e0;
        padding: 5px;
    }

    .form_table th, .form_table td {
        padding-left: 26px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        text-align: left;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 13px;
        font-weight: 400;
        font-stretch: normal;
    }

    .form_table th {
        text-transform: uppercase;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 12px;
        color: #4D4D4E;
        font-weight: 800;
        font-stretch: normal;
    }




/*
    MEDIA FOR RENDERING THE GRID PADDING ACCOUNDING TO THE CONTENT
*/
@media screen and (max-width: 850px) {

    .moderntable th, .moderntable td {
        padding-left: 16px;
    }

    .reportntable th, .reportntable td {
        padding-left: 16px;
    }
}








/*
    MEDIAI FOR RENDERING THE GRID IN TO ONE COLUM
*/
@media screen and (max-width: 750px) {

    .data-a-container {
        float: right;
    }

    .country-name-for-data {
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 8px;
        font-weight: 500;
        font-stretch: normal;
        color: #FFF;
        text-decoration: none;
    }

    .country-percent-for-data {
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 12px;
        font-weight: 300;
        font-stretch: normal;
        color: #FFF;
        text-decoration: none;
        margin-top: -12px;
        margin-bottom: 0;
    }


    /*Tabble for start page*/

    .moderntable {
        text-transform: uppercase;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 13px;
        color: #4D4D4E;
        font-weight: 400;
        font-stretch: normal;
        border: 0;
    }

        .moderntable thead {
            display: none;
        }

        .moderntable tr {
            margin-bottom: 66px;
            display: block;
            border: 0;
        }

        .moderntable td {
            display: block;
            text-align: right;
            padding-right: 26px;
            font-size: 13px;
            border-bottom: 1px solid #e0e0e0;
        }

            .moderntable td:first-child {
                border-top: 0;
            }

            .moderntable td:last-child {
                border-bottom: 0;
            }

            .moderntable td:before {
                content: attr(data-label);
                float: left;
                text-transform: uppercase;
                font-weight: bold;
            }






    /*Tabble for reports page*/

    .reportntable {
        text-transform: uppercase;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 13px;
        color: #4D4D4E;
        font-weight: 400;
        font-stretch: normal;
        border: 0;
    }

        .reportntable thead {
            display: none;
        }

        .reportntable tr {
            margin-bottom: 66px;
            display: block;
            border: 0;
            font-size: 12px;
        }

        .reportntable td {
            display: block;
            text-align: right;
            padding-right: 26px;
            font-size: 13px;
            border-bottom: 1px solid #e0e0e0;
        }

            .reportntable td:first-child {
                border-top: 0;
            }

            .reportntable td:last-child {
                border-bottom: 0;
            }

            .reportntable td:before {
                content: attr(data-label);
                float: left;
                text-transform: uppercase;
                font-weight: bold;
            }

            .reportntable td .mdl-checkbox {
                width: auto !important;
            }

        .reportntable .store-for-report {
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-size: 12px;
            font-weight: 600;
            font-stretch: normal;
            text-decoration: none;
        }
}
