﻿/**
 * Crecer Custom
 * @version v1.0.0
 * @copyright 2015 Arc1Lab,
 * @link http://www.dnds-systems.com
 */
@charset "UTF-8";
/**
 * Copyright 2015
 * CREATED BY
 * Eliseo Gomez
 * email: jose.eliseo.gomez@gmail.com
/* Material Design Lite */
/**
 * Copyright 2015
 */

/*
    DRAWER STYLE
*/

.mdl-navigation__link {
    font-size: 12px !important;
}
.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.action_title_content {
    width: auto;
}

a {
    text-decoration: none;
}

    a.not-active {
        pointer-events: none;
        cursor: default;
    }

        a.not-active img {
            opacity: 0.5;
        }

.hide_content {
    display: none !important;
}

.show-content {
    display: inline !important;
}

.colored_button {
    color: #0187bb;
}

.mdl-layout__drawer-header {
    height: 120px;
    background-color: rgba(0, 0, 0, 0.25);
}

    .mdl-layout__drawer-header .drawer_header_ico {

        margin: 20px;

    }

    .mdl-layout__drawer-header .header_drawer_title {
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 14px;
        color: white;
        margin-left: 23px;
        margin-top: 25px;
        width: 70%;
    }

    .mdl-layout__drawer-header .username-section {
        height: auto;
        margin: 10px 17px 17px 17px;
        display: block;
    }

    .mdl-layout__drawer-header .username-section .log-off-btn {
        width: 24px;
        height: 24px;
        background-image: url(../../../Content/TemplateResources/ic_power_settings_new_white_24px.svg);
        background-position: center;
        float: right;
    }

    .mdl-layout__drawer-header .username-section .username {
        background-image: url(../../../Content/TemplateResources/ic_person_outline_white_24px.svg);
        background-position-y: center;
        font-size: 14px;
        color: #FFFFFF;
        padding: 0px 0px 4px 34px;
        background-repeat: no-repeat;
        height: 24px;
        float: left;
        margin: 0px;
    }

.mdl-navigation__link {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
}

    .mdl-navigation__link .material-icons {
        font-size: 24px;
        margin-right: 32px;
        margin-left: -16px;
    }

#user-input-name:hover #user-input-name:active {
    bottom: 0 !important;
    cursor: none;
    background-color: rgba(255, 255, 255, 0.00) !important;
}


#AppBarFilterButton {
    display: block;
}

.drop_anio {
    width: 49%;
    float: left;
}

.drop_month {
    width: 49%;
    float: right;
}

/*------------

    CARDS STYLES

-----------*/

.mdl-card__base {
    margin: 24px auto !important;
    max-width: 1300px;
    width: auto;
}

    .mdl-card__base .mdl-card_header_container {
        border-bottom: 1px solid #E0E0E0;
    }

    .mdl-card__base .mdl_card_main_title {
        font-family: 'Roboto', 'Helvetica', sans-serif;
        font-size: 20px;
        line-height: 24px;
        margin: 12px 24px;
        float: left;
        color: rgba(0, 0, 0, 0.85);
        font-weight: 500;
    }

    .mdl-card__base .mdl_card_main_filter_inidicator {
        font-family: 'Roboto', 'Helvetica', sans-serif;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        float: left;
        color: #9c9c9c;
        background-color: #F0F0F0;
        padding: 10px;
        margin-top: 22px;
    }


    .mdl-card__base .mdl_card_action_buttons_section-no-hide {
        margin: 20px 24px;
        float: right;
        position: relative;
    }

    .mdl-card__base .mdl_card_action_buttons_section {
        margin: 20px 24px;
        float: right;
        position: relative;
        display: none;
    }

    .mdl-card__base .mdl_card_content {
        padding: 24px;
        /*margin-top: 26px;
        margin-left: 17px;
        margin-right: 17px;
        margin-bottom: 16px;*/
    }

    .mdl-card__base .mdl_card_content2 {
        margin-top: 26px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 16px;
        padding: 0px;
    }


    /*Country Grid*/

    .mdl-card__base .mdl-country-grid {
        width: 100%;
    }

        .mdl-card__base .mdl-country-grid td {
            width: 20%;
        }


/*
    CSS PARA PANTALLA D EBUSQUEDA DE TIPO DE SOICITUDES
*/

.mdl_card_content_solicitudes {
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.mdl-card-solicitudes {
    width: 33.3%;
    margin-bottom: 16px;
    float: left;
    padding-right: 16px;
}

    .mdl-card-solicitudes .mdl-card {
        width: 100%;
        padding: 24px;
        min-height: 100px !important;
    }

        .mdl-card-solicitudes .mdl-card .mdl_card_content {
            padding: 0px;
        }

            .mdl-card-solicitudes .mdl-card .mdl_card_content .item-container {
                margin: 0px;
                width: 100%;
                height: auto;
                padding-bottom: 16px;
                padding-top: 16px;
                display: flexbox;
                aling-items: center;
                align-content: center;
            }

                .mdl-card-solicitudes .mdl-card .mdl_card_content .item-container .item-detail-container {
                    margin-left: 0px;
                    float: left;
                    width: auto;
                    margin-right: 0px;
                }

                    .mdl-card-solicitudes .mdl-card .mdl_card_content .item-container .item-detail-container .description {
                        font-family: 'Roboto', 'Helvetica', sans-serif;
                        font-size: 16px;
                        color: #FFF;
                        line-height: 19px;
                        margin-bottom: 0;
                    }





/*CGrid Cards*/
.mdl-country-card {
    height: 114px;
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.mdl-card__base .mdl-country-card:hover {
    background: #efefef;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.mdl-card__base .mdl-flag-container {
    height: 56px;
}

.mdl-card__base .mdl-country-card .mdl-country-card-flag {
    margin-right: 16px;
    margin-top: 16px;
    width: 61px;
    height: 40px;
    float: right;
}

.mdl-card__base .mdl-country-card .mdl-country-title {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #666666;
    margin-top: 34px;
    margin-left: 16px;
}

/*grid cards buttons*/
.mdl-country-card-button {
    position: relative;
    margin-top: 16px;
    height: 35px;
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
    background-color: #FFF;
}

    .mdl-country-card-button:hover {
        background: #f5f5f5;
    }

.mdl-supermarket-container {
    height: 35px;
    align-items: center;
}

.mdl-country-supermarket {
    margin: 6px auto;
    width: 100%;
    height: 22px;
    vertical-align: central;
}


.header-date-details {
    background-image: url(../Content/Image/ico_calendar_black.png);
    background-repeat: no-repeat;
    background-position-y: center;
    margin-left: 26px;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-top: 16px;
    padding-left: 20px;
}

/*CGrid country Cards*/
.mdl-country_detail_card {
    height: auto;
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
    padding-bottom: 6px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.mdl-card__base .mdl-map-container {
    height: 96px;
    margin-bottom: 5px;
}

    .mdl-card__base .mdl-map-container .mdl-country-card-map {
        margin-right: 16px;
        margin-top: 16px;
        margin-left: 16px;
        width: 100px;
        height: 80px;
        float: right;
    }

.mdl-card__base .mdl-country-detail-name {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: white;
    margin-left: 12px;
    margin-bottom: 3px;
}

.mdl-card__base .mdl-supermartket-name {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 12px;
    padding-left: 20px;
    line-height: 16px;
    background-image: url(../Content/Image/ic_store.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    color: white;
    margin-left: 12px;
    margin-bottom: 3px;
}

.mdl-card__base .mdl-cupermartket-percent {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 38px;
    line-height: 41px;
    color: white;
    margin-left: 12px;
}

.mobile-statistic-content {
    visibility: hidden;
    width: 0;
    height: 0;
    display: none;
}


/*--------------

    START SCREEN

----------------*/

/*CGrid Cards*/
.start-first-section {
    height: auto;
    width: 50%;
    float: left;
}

.start-counter {
    height: 169px;
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 7px;
    padding-top: 1px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.title_counter {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: white;
    margin: 10px;
    background-image: url(../Content/Image/ico_big_tile_title.svg);
    background-position-y: center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.start-counter .map-image {
    width: 80px;
    height: 80px;
    margin-top: 40px;
    margin-left: 70px;
}

.start-counter.green {
    background-color: #42813a;
}

.start-counter.yellow {
    background-color: #EBAB13;
}

.start-counter.red {
    background-color: #b6262e;
}

.neutral {
    background-color: #666666;
}

.green {
    background-color: #42813a;
}

.yellow {
    background-color: #EBAB13;
}

.red {
    background-color: #b6262e;
}

.counter-footer-table {
    width: 100%;
    margin-top: 14px;
}

    .counter-footer-table td {
        width: 20%;
    }

    .counter-footer-table .item {
        width: auto;
        height: auto;
        padding-top: 1px;
        padding-bottom: 1px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 7px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

        .counter-footer-table .item .map-ico {
            width: auto;
            height: 24px;
            margin-right: 8px;
            margin-top: 8px;
        }

            .counter-footer-table .item .map-ico .source {
                width: auto;
                height: 24px;
                float: right;
            }

        .counter-footer-table .item .title {
            font-family: 'Roboto', 'Helvetica', sans-serif;
            font-size: 12px;
            line-height: 12px;
            color: white;
            margin-top: 10px;
            margin-left: 10px;
        }

        .counter-footer-table .item .subtitle {
            font-family: 'Roboto', 'Helvetica', sans-serif;
            font-size: 14px;
            line-height: 12px;
            color: white;
            margin-top: -3px;
            font-weight: 600;
            margin-left: 10px;
        }


/*----------

    POPUPS

----------*/

/*--FOR DETAILS--*/

.popup-detail-description {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 16px;
    color: #000;
    line-height: 19px;
    margin-bottom: 0;
    margin-top: 24px;
}

.popup-detail-leyend {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 14px;
    color: RGBA(0,0,0,0.8);
    line-height: 16px;
    margin-bottom: 0;
    margin-top: 5px;
    font-weight: 300;
    margin-bottom: 16px;
}

.mdl-card__base_for_popup {
    margin: auto auto;
    width: 300px;
    height: auto;
    padding: 25px;
}

    .mdl-card__base_for_popup .filter-title {
        font-family: 'Roboto', 'Helvetica', sans-serif;
        font-size: 32px;
        line-height: 12px;
        color: #rgba(0, 0, 0, 0.12);
        font-weight: 500;
    }

    .mdl-card__base_for_popup .to-date-text {
        font-family: 'Roboto', 'Helvetica', sans-serif;
        font-size: 24px;
        line-height: 12px;
        color: #666666;
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .mdl-card__base_for_popup .accept_button {
        color: #0187bb;
        margin-top: 16px;
        margin-right: 0;
        float: right;
        margin-bottom: 16px;
    }

    .mdl-card__base_for_popup .cancel_button {
        margin-top: 16px;
        margin-right: 0;
        float: right;
        margin-bottom: 16px;
    }


/*---------general chart design-------------*/
.ca_map_container {
    float: left;
    margin: 20px;
}

.pie_chart_container {
    float: right !important;
    margin: 10px;
    width: 60%;
}

.mdl-cell-img {
    width: 50%;
}

.mdl-cell-grafica {
    width: 50%;
}


/*----------

    CHECKBOX AND RADIO BUTTONS

----------*/

.two-colum-form {
    width: 100%;
}

    .two-colum-form .colum1 {
        float: left;
        width: 45%;
    }

    .two-colum-form .colum2 {
        float: right;
        width: 51%;
        margin-left: 16px;
    }



.SolBadge input {
    display: none;
    /* Better than display: none for accessibility reasons*/
    position: relative;
    z-index: -9999;
}

.SolBadge span {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    background-color: #867F80;
    padding: 2px 8px;
    border-radius: 2px;
    margin-right: 4px;
    margin-bottom: 4px;
    float: left;
    width: auto;
    height: auto;
    font-size: 9px;
    font-weight: 500;
    color: #FFFFFF;
    margin-top: 5px;
}

.SolBadge input:checked + span {
    background-color: #0187bb;
}


.material-nc-checkbox input {
    display: none;
    /* Better than display: none for accessibility reasons*/
    z-index: -9999;
    width: auto;
    min-height: 24px;
    float: left;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    background-image: url(../res/ic_check_box_unselected.svg);
    background-position-y: center;
    background-repeat: no-repeat;
    min-height: 24px;
    min-width: 24px;
    position: relative;
    padding: 2px 8px;
    width: auto;
    height: auto;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
}

.material-nc-checkbox input:checked + span {
    background-image: url(../res/ic_check_box_selected.svg);
    background-position-y: center;
    background-repeat: no-repeat;
}

.material-nc-checkbox input:disabled + span {
    background-image: url(../res/ic_check_box_disable.svg);
    background-position-y: center;
    background-repeat: no-repeat;
}



.material-nc-checkbox span {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    background-image: url(../res/ic_check_box_unselected.svg);
    background-position-y: center;
    background-repeat: no-repeat;
    padding: 2px 12px;
    min-height: 24px;
    float: left;
    width: auto;
    height: auto;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
}

.material-nc-checkbox input:checked + span {
    background-image: url(../res/ic_check_box_selected.svg);
    background-position-y: center;
    background-repeat: no-repeat;
}

.material-nc-checkbox input:disabled + span {
    opacity: 0.4;
    background-position-y: center;
    background-repeat: no-repeat;
}

.material-content-checkbox {
    width: 100%;
    float: left;
}

.material-content-checkbox input {
    display: none;
    /* Better than display: none for accessibility reasons*/
    z-index: -9999;
    width: auto;
    min-height: 24px;
    float: left;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    background-image: url(../res/ic_check_box_unselected.svg);
    background-position-y: center;
    background-repeat: no-repeat;
    min-height: 24px;
    min-width: 24px;
    position: relative;
    padding: 2px 8px;
    width: auto;
    height: auto;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
}

.material-content-checkbox input:checked + span {
    background-image: url(../res/ic_check_box_selected.svg);
    background-position-y: center;
    background-repeat: no-repeat;
}

.material-content-checkbox input:disabled + span {
    background-image: url(../res/ic_check_box_disable.svg);
    background-position-y: center;
    background-repeat: no-repeat;
}



.material-content-checkbox span {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    background-image: url(../res/ic_check_box_unselected.svg);
    background-position-y: center;
    background-repeat: no-repeat;
    padding: 2px 32px;
    min-height: 24px;
    width: 100%;
    float: left;
    width: auto;
    height: auto;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
}

.material-content-checkbox input:checked + span {
    background-image: url(../res/ic_check_box_selected.svg);
    background-position-y: center;
    background-repeat: no-repeat;
}

.material-content-checkbox input:disabled + span {
    opacity: 0.4;
    background-position-y: center;
    background-repeat: no-repeat;
    /*color: rgba(0, 0, 0, 0.4);*/
}


.StatusContainer {
    text-align: center !important;
    justify-content: center !important;
    vertical-align: central !important;
    display: flex !important;
    align-items: center !important;
}

.SolStatus input {
    display: none;
    /* Better than display: none for accessibility reasons*/
    position: relative;
    z-index: -9999;
}

.SolStatus span {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    border-radius: 50%;
    margin-right: 11px;
    margin-bottom: 4px;
    float: left;
    width: 90px;
    height: 90px;
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
    padding: 0 8px;
    margin-top: 5px;
    text-align: center;
    justify-content: center;
    vertical-align: central;
    display: flex;
    align-items: center;
    box-shadow: #707070 1px 1px 5px;
}

.SolStatus .StatusBack {
    background-color: rgba(185, 0, 0, 0.50);
}

.SolStatus .StatusContinue {
    background-color: rgba(4, 157, 216, 0.50);
}

.SolStatus .arrow {
    background: none !important;
    color: rgba(0, 0, 0, 0.5) !important;
    margin-right: 11px;
    margin-bottom: 4px;
    float: left;
    width: 30px;
    height: 70px;
    margin-top: 5px;
    text-align: center;
    justify-content: center;
    vertical-align: central;
    display: flex;
    align-items: center;
    box-shadow: none;
}

.SolStatus input:checked + .StatusBack {
    background-color: rgba(185, 0, 0, 1);
}

.SolStatus input:checked + .StatusContinue {
    background-color: rgba(4, 157, 216, 1);
}

.SolStatus input:disabled + span {
    background-color: #d1d1d1;
    color: #494949;
}






/*--------------

    AUTOADJUST FOR MEDIO MONITORS

--------------*/

@media screen and (max-width: 1366px) {

    .mdl-card__base {
        margin: 24px auto;
        width: 1060px;
    }

        /*CGrid country Cards*/

        .mdl-card__base .mdl-map-container {
            height: 86px;
            margin-bottom: 5px;
        }

            .mdl-card__base .mdl-map-container .mdl-country-card-map {
                margin-right: 16px;
                margin-top: 16px;
                margin-left: 16px;
                width: 90px;
                height: 70px;
                float: right;
            }

        .mdl-card__base .mdl-country-detail-name {
            font-family: 'Roboto', 'Helvetica', sans-serif;
            font-size: 12px;
            line-height: 16px;
            color: white;
            margin-left: 12px;
            margin-bottom: 3px;
        }

        .mdl-card__base .mdl-supermartket-name {
            font-family: 'Roboto', 'Helvetica', sans-serif;
            font-size: 12px;
            padding-left: 20px;
            line-height: 16px;
            background-image: url(../Content/Image/ic_store.svg);
            background-repeat: no-repeat;
            background-position-y: center;
            color: white;
            margin-left: 12px;
            margin-bottom: 3px;
        }

        .mdl-card__base .mdl-cupermartket-percent {
            font-family: 'Roboto', 'Helvetica', sans-serif;
            font-size: 34px;
            line-height: 41px;
            color: white;
            margin-left: 12px;
        }
}










/*------------------

    AUTOADJUST FOR TABLET AND DEKTOP MONITORS

-------------*/
@media screen and (max-width: 1112px) {

    .mdl-card__base {
        margin: 24px 26px !important;
        width: auto !important;
    }

        .mdl-card__base .mdl-cupermartket-percent {
            font-family: 'Roboto', 'Helvetica', sans-serif;
            font-size: 28px;
            line-height: 41px;
            color: white;
            margin-left: 12px;
        }
}

/*---------------------

    MANAGING DRAWER CONTENT STYLE

------------------------------*/
@media screen and (max-width: 1024px) {

    .mdl-navigation__link .material-icons {
        font-size: 24px;
        margin-right: 32px;
        margin-left: 8px;
    }

    .mdl-card__base .mdl-cupermartket-percent {
        font-family: 'Roboto', 'Helvetica', sans-serif;
        font-size: 24px;
        line-height: 41px;
        color: white;
        margin-left: 12px;
    }

    .counter-footer-table .item .map-ico {
        width: auto;
        height: 24px;
        margin-right: 8px;
        margin-top: 8px;
    }

        .counter-footer-table .item .map-ico .source {
            width: auto;
            height: 24px;
            float: right;
        }

    .counter-footer-table .item .title {
        font-family: 'Roboto', 'Helvetica', sans-serif;
        font-size: 10px;
        line-height: 12px;
        color: white;
        margin-top: 10px;
        margin-left: 8px;
    }

    .counter-footer-table .item .subtitle {
        font-family: 'Roboto', 'Helvetica', sans-serif;
        font-size: 12px;
        line-height: 10px;
        color: white;
        margin-top: -3px;
        font-weight: 600;
        margin-left: 8px;
    }

    .ca_map_container {
        float: left;
        margin: 20px;
    }

    .pie_chart_container {
        float: right !important;
        margin: 10px;
        width: 50%;
    }

    .mdl-card-solicitudes {
        width: 50%;
        margin-bottom: 16px;
        float: left;
        padding-right: 16px;
    }
}



@media screen and (max-width: 750px) {
    .material-nc-checkbox {
        display: inline-block;
    }
}


/*----------------------------

    AUTOADJUST FOR TABLET PORTRAIT AND LANDSCAPE PHONES

------------------------------*/
@media screen and (max-width: 800px) {
    .mdl-card__base {
        margin: 24px 26px;
        width: auto;
    }

        .mdl-card__base .mdl_card_main_filter_inidicator {
            visibility: hidden;
            display: none;
            width: 0;
            height: 0;
        }

    /*CGrid country Cards*/

    .mdl-country_detail_card {
        height: auto;
        margin-left: 4px;
        margin-right: 4px;
    }

    .mdl-card__base .mdl-map-container {
        height: 76px;
        margin-bottom: 0;
    }

    .mdl-card__base .mdl-country-detail-name {
        margin-top: 10px;
    }

    .mdl-card__base .mdl-map-container .mdl-country-card-map {
        margin-right: 8px;
        margin-top: 8px;
        margin-left: 16px;
        width: 75px;
        height: 60px;
        float: right;
    }

    .mdl-card__base .mdl-cupermartket-percent {
        font-family: 'Roboto', 'Helvetica', sans-serif;
        font-size: 20px;
        line-height: 41px;
        color: white;
        margin-left: 12px;
    }


    /*Start screen*/
    .start-first-section {
        height: auto;
        width: 100%;
        float: left;
        margin-top: 8px;
    }


    .country-consolidated-container {
        width: 100%;
        float: none;
        margin-bottom: 26px;
    }
}








/*----------------------

    AUTOADJUST FOR TABLET PORTRAIT AND LANDSCAPE PHONES

------------------------*/

@media screen and (max-width: 650px) {

    .mdl-card__base {
        margin: 16px 16px;
        width: auto;
    }

        .mdl-card__base .mdl-card_header_container {
            border-bottom: 1px solid #E0E0E0;
        }

        .mdl-card__base .mdl_card_main_title {
            font-family: 'Roboto', 'Helvetica', sans-serif;
            font-size: 16px;
            line-height: 24px;
            margin-top: 12px;
            margin-bottom: 12px;
            margin-left: 26px;
            margin-right: 0;
            float: left;
            color: rgba(0, 0, 0, 0.85);
        }

        .mdl-card__base .mdl_card_action_buttons_section-no-hide {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 0;
            margin-right: 16px;
            float: right;
            position: relative;
        }

        .mdl-card__base .mdl_card_content {
            padding: 24px;
            /*margin-top: 16px;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 8px;*/
        }

    .mdl-country-card {
        height: 80px;
    }

    .mdl-card__base .mdl-flag-container {
        height: 38px;
    }

    .mdl-card__base .mdl-country-card .mdl-country-card-flag {
        margin-right: 8px;
        margin-top: 8px;
        width: 43px;
        height: 28px;
        float: right;
    }

    .mdl-card__base .mdl-country-card .mdl-country-title {
        font-family: 'Roboto', 'Helvetica', sans-serif;
        font-size: 10px;
        line-height: 16px;
        color: #666666;
        margin-top: 15px;
        margin-left: 8px;
    }



    /*grid cards buttons*/
    .mdl-country-card-button {
        position: relative;
        margin-top: 8px;
        height: 25px;
        width: auto;
        margin-left: 7px;
        margin-right: 7px;
        background-color: #FFF;
    }

        .mdl-country-card-button:hover {
            background: #f5f5f5;
        }

    .mdl-supermarket-container {
        height: 35px;
        align-items: center;
    }

    .mdl-country-supermarket {
        margin: 6px auto;
        width: 100%;
        height: 15px;
        vertical-align: central;
    }

    #AppBarFilterButton {
        display: none;
    }

    .mdl-card__base .mdl_card_action_buttons_section {
        margin: 10px 24px;
        float: right;
        position: relative;
        display: block;
    }

    .drop_anio {
        width: 100%;
        float: none;
        margin-right: 16px;
    }

    .drop_month {
        width: 100%;
        float: none;
        margin-top: 16px;
        margin-right: 16px;
    }

    /*Filter trigger button*/

    .modal__trigger {
        display: inline-block;
    }




    .two-colum-form {
        width: 100%;
    }

        .two-colum-form .colum1 {
            float: none;
            width: 100%;
        }

        .two-colum-form .colum2 {
            float: none;
            width: 100%;
            margin-top: 16px;
            margin-left: 0px;
            padding-left: 0px;
        }


    .SolBadge span {
        font-family: 'Roboto', 'Helvetica', sans-serif;
        background-color: #867F80;
        padding: 2px 8px;
        border-radius: 2px;
        margin-right: 4px;
        margin-bottom: 4px;
        float: left;
        width: auto;
        height: auto;
        font-size: 8px;
        font-weight: 500;
        color: #FFFFFF;
        margin-top: 5px;
    }

    .SolBadge input:checked + span {
        background-color: #0187bb;
    }
}







/*----------------------------

    ESPECIFIC FOR 640PX SCREENS

---------------------------------*/
@media screen and (max-width: 640px) {


    /*CGrid country Cards*/
    .mdl-country_detail_card {
        height: auto;
        width: auto;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 8px;
        padding-bottom: 16px;
        padding-top: 8px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    .mdl-card__base .mdl-map-container {
        height: 90px;
        margin-bottom: 5px;
        float: right;
    }

        .mdl-card__base .mdl-map-container .mdl-country-card-map {
            margin-right: 16px;
            margin-top: 16px;
            margin-left: 16px;
            width: 120px;
            height: 90px;
            float: right;
        }

    .mdl-card__base .mdl-country-detail-name {
        font-family: 'Roboto', 'Helvetica', sans-serif;
        font-size: 12px;
        line-height: 16px;
        color: white;
        margin-left: 12px;
        margin-bottom: 3px;
        margin-top: 16px;
    }

    .mdl-card__base .mdl-supermartket-name {
        font-family: 'Roboto', 'Helvetica', sans-serif;
        font-size: 12px;
        padding-left: 20px;
        line-height: 16px;
        background-image: url(../Content/Image/ic_store.svg);
        background-repeat: no-repeat;
        background-position-y: center;
        color: white;
        margin-left: 12px;
        margin-bottom: 3px;
        margin-top: 5px;
    }

    .mdl-card__base .mdl-cupermartket-percent {
        font-family: 'Roboto', 'Helvetica', sans-serif;
        font-size: 40px;
        line-height: 41px;
        color: white;
        margin-left: 12px;
    }


    #statistic_content {
        visibility: hidden;
        width: 1px;
        height: 1px;
        display: none;
    }


    .mobile-statistic-content {
        visibility: visible;
        margin-top: 16px;
        width: auto;
        height: auto;
        display: block;
    }






    .country-card-plan .valuetext {
        font-family: 'Roboto', 'Helvetica', sans-serif;
        font-size: 14px;
        line-height: 12px;
        color: #fff;
        font-weight: 400;
        text-align: left;
        margin-top: 26px;
        margin-bottom: 8px;
    }

    .country-card-plan {
        height: auto;
        width: auto;
        margin-left: 3px;
        margin-right: 3px;
        padding: 8px;
        border-radius: 2px;
    }

        .country-card-plan .plantext {
            font-family: 'Roboto', 'Helvetica', sans-serif;
            font-size: 14px;
            line-height: 10px;
            color: #fff;
            font-weight: 400;
            text-align: left;
            background-size: 15px 15px;
            padding-bottom: 5px;
            padding-top: 5px;
            padding-left: 0;
            margin-bottom: 0;
            background-image: none;
        }

        .country-card-plan .saletext {
            font-family: 'Roboto', 'Helvetica', sans-serif;
            font-size: 14px;
            line-height: 12px;
            color: #fff;
            font-weight: 400;
            text-align: left;
            margin-bottom: 0;
            background-image: none;
            background-size: 0;
            padding-bottom: 5px;
            padding-top: 5px;
            padding-left: 0;
        }

    .mdl-card-solicitudes {
        width: 100%;
        margin-bottom: 16px;
        float: left;
        padding-right: 16px;
    }

        .mdl-card-solicitudes .mdl-card .mdl_card_content .item-container {
            margin: 0px;
            width: 100%;
            height: auto;
            padding-bottom: 8px;
            padding-top: 8px;
            display: flexbox;
            aling-items: center;
            align-content: center;
        }

            .mdl-card-solicitudes .mdl-card .mdl_card_content .item-container .item-detail-container {
                margin-left: 0px;
                float: left;
                width: auto;
                margin-right: 0px;
            }

                .mdl-card-solicitudes .mdl-card .mdl_card_content .item-container .item-detail-container .description {
                    font-family: 'Roboto', 'Helvetica', sans-serif;
                    font-size: 14px;
                    color: #FFF;
                    line-height: 19px;
                    margin-bottom: 0;
                }
}


/*----------------------

    AUTOADJUST FOR PORTRAIT PHONES

--------------------------*/
@media screen and (max-width: 480px) {
    .mdl-card__base {
        margin: 8px 8px;
        width: auto;
        height: auto !important;
    }

        .mdl-card__base .mdl_card_content {
            padding: 24px;
            /*margin-top: 16px;
            margin-left: 4px;
            margin-right: 4px;
            margin-bottom: 8px;*/
        }

    .mdl-country-card {
        height: 60px;
    }

    .mdl-card__base .mdl-flag-container {
        height: 28px;
    }

    .mdl-card__base .mdl-country-card {
        margin-left: 4px;
        margin-right: 4px;
    }

        .mdl-card__base .mdl-country-card .mdl-country-card-flag {
            margin-right: 6px;
            margin-top: 6px;
            width: 35px;
            height: 23px;
            float: right;
        }

        .mdl-card__base .mdl-country-card .mdl-country-title {
            font-family: 'Roboto', 'Helvetica', sans-serif;
            font-size: 8px;
            line-height: 16px;
            color: #666666;
            margin-top: 15px;
            margin-left: 4px;
        }


    /*grid cards buttons*/
    .mdl-country-card-button {
        position: relative;
        margin-top: 8px;
        height: 25px;
        width: auto;
        margin-left: 7px;
        margin-right: 7px;
        background-color: #FFF;
    }

        .mdl-country-card-button:hover {
            background: #f5f5f5;
        }

    .mdl-supermarket-container {
        height: 25px;
        align-items: center;
    }

    .mdl-country-supermarket {
        margin: 6px auto;
        width: 100%;
        height: 15px;
        vertical-align: central;
    }







    /*----------Start Screen----------*/



    .start-counter .map-image {
        margin-left: 40px;
    }

    .counter-footer-table {
        width: 100%;
        margin-top: 8px;
    }

        .counter-footer-table td {
            width: 20%;
        }

        .counter-footer-table .item {
            width: auto;
            height: auto;
            padding-top: 1px;
            padding-bottom: 1px;
            margin-left: 2px;
            margin-right: 2px;
            margin-bottom: 7px;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        }



            .counter-footer-table .item .title {
                font-family: 'Roboto', 'Helvetica', sans-serif;
                font-size: 8px;
                line-height: 12px;
                color: white;
                margin-top: 10px;
                margin-left: 8px;
            }

            .counter-footer-table .item .subtitle {
                font-family: 'Roboto', 'Helvetica', sans-serif;
                font-size: 10px;
                line-height: 12px;
                color: white;
                margin-top: -10px;
                font-weight: 400;
                margin-left: 8px;
                margin-bottom: 8px;
            }

            .counter-footer-table .item .map-ico {
                width: auto;
                height: 24px;
                margin-right: 4px;
                margin-top: 8px;
            }




    /*COUNTRY REPORT*/


    .country-card-plan .valuetext {
        font-family: 'Roboto', 'Helvetica', sans-serif;
        font-size: 10px;
        line-height: 12px;
        color: #fff;
        font-weight: 400;
        text-align: left;
        margin-top: 16px;
        margin-bottom: 8px;
    }

    .country-card-plan {
        height: auto;
        width: auto;
        margin-left: 3px;
        margin-right: 3px;
        padding: 8px;
        border-radius: 2px;
    }

        .country-card-plan .plantext {
            font-family: 'Roboto', 'Helvetica', sans-serif;
            font-size: 10px;
            line-height: 10px;
            color: #fff;
            font-weight: 400;
            text-align: left;
            background-size: 15px 15px;
            padding-bottom: 5px;
            padding-top: 5px;
            padding-left: 0;
            margin-bottom: 0;
            background-image: none;
        }

        .country-card-plan .saletext {
            font-family: 'Roboto', 'Helvetica', sans-serif;
            font-size: 10px;
            line-height: 12px;
            color: #fff;
            font-weight: 400;
            text-align: left;
            margin-bottom: 0;
            background-image: none;
            background-size: 0;
            padding-bottom: 5px;
            padding-top: 0;
            padding-left: 0;
        }



    /*----------

    POPUPS

    ----------*/

    .mdl-card__base_for_popup {
        margin: auto auto;
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
        height: auto;
        padding: 25px;
    }

    /*---------general chart design-------------*/
    .ca_map_container {
        float: left;
        margin: 20px;
    }

    .pie_chart_container {
        float: right !important;
        margin: 10px;
        width: 40%;
    }

    .colored_button {
        margin-bottom: 12px;
    }



    .SolStatus span {
        line-height: 12px;
        margin-right: 8px;
        margin-bottom: 4px;
        width: 60px;
        height: 60px;
        font-size: 10px;
        font-weight: 400;
        padding: 0 8px;
        margin-top: 5px;
    }

    .SolStatus .arrow {
        background: none !important;
        color: rgba(0, 0, 0, 0.5) !important;
        margin-right: 8px;
        margin-bottom: 4px;
        float: left;
        width: 10px;
        height: 50px;
        margin-top: 5px;
    }
}