﻿/**
 * Crecer Custom
 * @version v1.0.0
 * @copyright 2015 Arc1Lab,
 * @link http://www.dnds-systems.com
 */
@charset "UTF-8";
/**
 * Copyright 2015
 * CREATED BY
 * Eliseo Gomez
 * email: jose.eliseo.gomez@gmail.com
/* Material Design Lite */
/**
 * Copyright 2015
 */

/*
    DASHBOARD STYLE
*/

.dashboard-content {
    max-width: 1060px;
    margin: 0 auto;
    margin: 48px auto;
    padding-left: 16px;
    padding-right: 16px;
}

.mdl-card__dashboard {
    width: 100%;
    margin-bottom: 16px;
}

    .mdl-card__dashboard .mdl-card_header_container {
        border-bottom: 1px solid RGBA(255,255,255,0.14);
    }

.mdl-header_container {
    width: auto;
    display: inline-block;
}
    .mdl-card__dashboard .mdl_card_main_title {
        font-family: 'Roboto', 'Helvetica', sans-serif;
        font-size: 20px;
        line-height: 24px;
        margin: 12px 24px 8px 24px;
        color: RGBA(255,255,255,0.8);
    }

    .mdl-card__dashboard .mdl_card_sub_title {
        font-family: 'Roboto', 'Helvetica', sans-serif;
        font-size: 12px;
        line-height: 24px;
        margin: 0px 24px 12px 24px;
        color: RGBA(255,255,255,0.8);
    }

    .mdl-card__dashboard .mdl_card_content {
        padding-left: 22px;
        padding-right: 24px;
        padding-bottom: 16px;
        padding-top: 24PX;
        color: white !important;
    }

        .mdl-card__dashboard .mdl_card_content .header-content {
            width: 100%;
            height: auto;
            display: flex;
            display: flexbox;
        }

            .mdl-card__dashboard .mdl_card_content .header-content .detail-section {
                float: left;
                width: 50%;
            }

            .mdl-card__dashboard .mdl_card_content .header-content .chart-section {
                float: right;
                width: auto;
            }



/*GRID DISTRIBUTION*/
.two-colum-section {
    margin-top: 8px;
    display: flex;
    display: flexbox;
}

.two-colum-row {
    display: flex;
    display: flexbox;
}

.colum1 {
    width: 49.99%;
    float: left;
    padding-right: 8px;
}

.colum2 {
    width: 49.99%;
    float: right;
    padding-left: 8px;
}

.two_rows-section {
}

    .two_rows-section .row1 {
    }

    .two_rows-section .row2 {
    }

/*ITEM DETAIL FOR*/

.item-container_2 {
    padding-bottom: 10px !important;
    padding-top: 10px !important;

}

.item-container {
    margin: 0px;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    display: flexbox;
    aling-items: center;
    align-content: center;
}

    .item-container .ico {
        color: RGBA(255,255,255,0.8);
        align-self: center;
        display: inline-block;
        margin: 0px;
        float: left;
        font-weight: 100;
    }

    .item-container .item-detail-container {
        margin-left: 32px;
        float: left;
        width: auto;
        margin-right: 16px;
    }

        .item-container .item-detail-container .description {
            font-family: 'Roboto', 'Helvetica', sans-serif;
            font-size: 16px;
            color: #FFF;
            line-height: 19px;
            margin-bottom: 0;
        }

        .item-container .item-detail-container .description-second-level {
            font-family: 'Roboto', 'Helvetica', sans-serif;
            font-size: 36px;
            color: #FFF;
            line-height: 19px;
            margin-bottom: 10px;
        }

        .item-container .item-detail-container .description-second-level-2 {
            font-family: 'Roboto', 'Helvetica', sans-serif;
            font-size: 36px;
            color: #FFF;
            line-height: 19px;
            margin-bottom: 10px;
            margin-top: 6px;
        }

        .item-container .item-detail-container .description-thirt-level {
            font-family: 'Roboto', 'Helvetica', sans-serif;
            font-size: 48px;
            color: #FFF;
            line-height: 28px;
            margin-bottom: 15px;
        }

        .item-container .item-detail-container .leyend {
            font-family: 'Roboto', 'Helvetica', sans-serif;
            font-size: 14px;
            color: RGBA(255,255,255,0.8);
            line-height: 16px;
            margin-bottom: 0;
            margin-top: 5px;
            font-weight: 300;
        }

/*CARD COLORS*/
.blue_grey_900 {
    /*background: #263238;*/
    background: #1D4D7F;
}

.light_blue_900 {
    background: #01579B;
}

.purple_900 {
    background: #4A148C;
}

.indigo_700 {
    background: #303F9F;
}

.red_900 {
    background: #B71C1C;
}

.pink_900 {
    background: #880E4F;
}
