﻿/**
 * Material Drawe Style
 * @version v1.0.0
 * @copyright 2016 dnds,
 * @link http://www.dnds-systems.com
 */
@charset "UTF-8";
/**
 * Copyright 2015
 * CREATED BY
 * Eliseo Gomez
 * email: jose.eliseo.gomez@gmail.com
/* Material Design Lite */
/**
 * Copyright 2015
 */



*, *::after, *::before {
    box-sizing: border-box;
}

.mdl-right-drawer-layout {
    display: -webkit-flex;
    display: -ms-flexbox;
    color: #FFFFFF !important;
    padding: 0px;
    padding-top: 40px !important;
    display: flex;
    -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
    width: 280px;
    height: 100%;

    position: fixed;
    top: 0;
    right: -280px;
    bottom: 0px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-right: 0px solid rgb(224,224,224);
    background: rgb(55,95,117);
    /*-webkit-transform: translateX(-250px);
          transform: translateX(-250px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  will-change: transform;*/
    /*transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;*/
    color: rgb(66,66,66);
    overflow: visible;
    overflow-y: auto;
    z-index: 50;
}

    .mdl-right-drawer-layout div {
        padding: 0px !important;
        margin: 0px;
        width: 100%;
    }

    .mdl-right-drawer-layout ul li span i {
        color: rgba(255, 255, 255, 0.80) !important;
    }

    .mdl-right-drawer-layout ul {
        margin: 0px;
        padding: 0px;
        color: #FFFFFF !important;
    }

    .mdl-right-drawer-layout ul li:hover {
        background-color: rgba(224, 224, 224, 0.20) !important;
    }


    .mdl-right-drawer-layout h6 {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
        padding-top: 8px;
    }

    .mdl-right-drawer-layout a, .mdl-right-drawer-layout ul li {
        cursor: pointer;
        text-decoration: none !important;
        font-family: "Roboto","Helvetica","Arial",sans-serif;
        font-size: 16px;
        color: none;
        font-weight: 400;
        color: rgb(224,224,224);
    }

    .mdl-right-drawer-layout a:hover, .mdl-right-drawer-layout ul li {
        cursor: pointer;
        text-decoration: none !important;
        color: none;
        font-family: "Roboto","Helvetica","Arial",sans-serif;
        font-size: 16px;
        color: none;
        font-weight: 400;
        color: rgb(224,224,224);
    }




    /*setting sections for notification*/
.notification-title {
    font-size: 20px;stroke moni
    font-weight: 400;
    margin-left: 17px;
    margin-bottom: 0px;
}
















    /* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.00);
    padding-bottom: 16px;
    padding-left: 16px;
    padding-top: 16px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    transition: 0.4s;
    border: 0px none ;
    margin: 0px;
    color: #00AECB;
    font-weight: 600;
}

button.accordion.active {
    border: none;
    border-color: rgba(146, 146, 146, 0.00);
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion:hover {
    background-color: #d3d3d3;
    border: none;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 0;
    background-color: rgba(0, 0, 0, 0.00);
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease;
    opacity: 0;
    border: 0px rgba(0, 0, 0, 0.00);
}

div.panel.show {
    opacity: 1;
    max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

button.accordion {
    background-image: url(../../../Content/TemplateResources/ic_keyboard_arrow_down_black_24px.svg);
    background-position-x: right;
    background-repeat: no-repeat;
    background-position-y: center;
}

button.accordion.active {
    background-image: url(../../../Content/TemplateResources/ic_keyboard_arrow_up_black_24px.svg);
    background-position-x: right;
    background-repeat: no-repeat;
    background-position-y: center;
    border: none;
}