﻿.mdl-toolbar {
    background-color: #fafafa;
    padding: 12px 12px 12px 0px;
    position: relative;
    display: flex;
}

    .mdl-toolbar button, .mdl-toolbar select {
        margin-left: 12px !important;
        color: #939393;
        max-width: 120px;
    }
    .mdl-toolbar select {
        border-bottom: 0px !important;
    }

    .mdl-toolbar .devider { 
        width: 1px;
        height: 24px;
        margin-left: 16px;
        margin-right: 8px;
        margin-top: 4px;
        background-color: #c3c3c3;
    }