﻿<div class="mdl-layout__drawer">
    <div class="mdl-layout__drawer-header">
        <div>
            <img class="drawer_header_ico" src="~/Content/TemplateResources/Picture1.png" style="height: 30px" alt="Logo" />
        </div>
        <div class="username-section">
            <p class="username">
                User_Name
            </p>
            <a href="#" class="log-off-btn">
            </a>
        </div>
    </div>
    <nav class="mdl-navigation" id="primary_drawer_section">
        <a class="mdl-navigation__link" onclick="goToComponents()">Componentes</a>
    </nav>
    <nav class="mdl-navigation hide" id="secondary_drawer_section_0">
        @Html.Partial("../DrawerSubMenu/GetpartialComponents")
    </nav>
</div>
