﻿<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label fixed-width">
    <input type="text" class="mdl-textfield__input" id="_codigo" />
    <label class="mdl-textfield__label" for="_codigo">Codigo</label>
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label fixed-width">
    <input type="text" class="mdl-textfield__input" id="_first_name" />
    <label class="mdl-textfield__label" for="_first_name">Primer Nombre</label>
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label fixed-width">
    <input type="text" class="mdl-textfield__input" id="_second_name" />
    <label class="mdl-textfield__label" for="_second_name">Segundo Nombre</label>
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label fixed-width">
    <input type="text" class="mdl-textfield__input" id="_first_last_name" />
    <label class="mdl-textfield__label" for="_first_last_name">Primer Apellido</label>
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label fixed-width">
    <input type="text" class="mdl-textfield__input" id="_second_last_name" />
    <label class="mdl-textfield__label" for="_second_last_name">Segundo Apellido</label>
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label fixed-width" style="margin-top: 5px">
    <input type="text" class="mdl-textfield__input" id="_cuenta_dominio" />
    <label class="mdl-textfield__label" for="_cuenta_dominio">Cuenta de Dominio</label>
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label fixed-width" style="margin-top: 5px">
    <input type="text" class="mdl-textfield__input" id="_mail" />
    <label class="mdl-textfield__label" for="_mail">Correo electronico</label>
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label fixed-width" style="margin-top: 5px">
    <input type="text" class="mdl-textfield__input" id="_user_account" />
    <label class="mdl-textfield__label" for="_user_account">Cuenta de Usuario</label>
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label fixed-width" style="margin-top: 5px">
    <input type="password" class="mdl-textfield__input" id="_password" />
    <label class="mdl-textfield__label" for="_passwpord">Contrase&ntilde;a</label>
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label fixed-width" style="margin-top: 5px">
    <input type="password" class="mdl-textfield__input" id="_confirm_passwprd" />
    <label class="mdl-textfield__label" for="_confirm_passwprd">Confirmar Contrase&ntilde;a</label>
</div>


    <label class="float-label">Estado</label>
    <select class="mdl-textfield__input" required id="_status">
        <option value="" selected="selected" disabled>--Seleccione--</option>
        <option value="Act ">Activo</option>
        <option value="Ina">Inactivo</option>
    </select>


<p class="subtitle-section">Unidad organizacional inicial</p>


    <label class="float-label">Unidad organizacional inicial</label>
    <select class="mdl-textfield__input" required id="_unidad_rganizacional">
        <option value="" selected="selected" disabled>--Seleccione--</option>
        <option value="item_1">item 1</option>
        <option value="item_2">item 2</option>
    </select>


<p>NOTA: (Luego podra asignarlo a otras unidades desde la administracion de unidades iniciales)</p>


<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label fixed-width" style="margin-top: 5px">
    <input type="password" class="mdl-textfield__input" id="_start_date" />
    <label class="mdl-textfield__label" for="_start_date">Fecha Inicial</label>
</div>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label fixed-width" style="margin-top: 5px">
    <input type="password" class="mdl-textfield__input" id="_end_date" />
    <label class="mdl-textfield__label" for="_end_date">Fecha Final</label>
</div>

<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="_jefe">
    <input type="checkbox" id="_jefe" class="mdl-checkbox__input" checked>
    <span class="mdl-checkbox__label">¿Jefe o persona a cargo de la unidad organizacional?</span>
</label>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label fixed-width" style="margin-top: 5px">
    <input type="text" class="mdl-textfield__input" id="_roles_inciales" />
    <label class="mdl-textfield__label" for="_roles_inciales">Roles iniciales</label>
</div>