﻿<link href="~/Libs/MDL/css/GridLayout.css" rel="stylesheet" />
<p class="popup-detail-description">
    <strong>CODIGO</strong>
</p>
<p class="popup-detail-leyend">
    Codigo
</p>

<p class="popup-detail-description">
    <strong>NOMBE COMPLETO</strong>
</p>
<p class="popup-detail-leyend">
    Nombre
</p>

<p class="popup-detail-description">
    <strong>CUENTA DE DOMINIO</strong>
</p>
<p class="popup-detail-leyend">
    Cuenta de dominio
</p>

<p class="popup-detail-description">
    <strong>CORREO ELECTRONICO</strong>
</p>
<p class="popup-detail-leyend">
    Correo electronico
</p>

<p class="popup-detail-description">
    <strong>CUENTA USUARIO</strong>
</p>
<p class="popup-detail-leyend">
    Cuenta de usuario
</p>

<p class="popup-detail-description">
    <strong>ESTADO</strong>
</p>
<p class="popup-detail-leyend">
    Estado
</p>

<p class="subtitle-section">Unidad organizacional inicial</p>

<p class="popup-detail-description">
    <strong>UNIDAD ORGANIZACIONAL INICIAL</strong>
</p>
<p class="popup-detail-leyend">
    Unidad organizacional inicial
</p>

<p>NOTA: (Luego podra asignarlo a otras unidades desde la administracion de unidades iniciales)</p>


<p class="popup-detail-description">
    <strong>00/00/0000</strong>
</p>
<p class="popup-detail-leyend">
    Fecha inicial
</p>

<p class="popup-detail-description">
    <strong>00/00/0000</strong>
</p>
<p class="popup-detail-leyend">
    Fecha final
</p>

<p class="popup-detail-description">
    <strong>SI</strong>
</p>
<p class="popup-detail-leyend">
    ¿Jefe o persona a cargo de la unidad organizacional?
</p>

<p class="popup-detail-description">
    <strong>ROLES</strong>
</p>
<p class="popup-detail-leyend">
    Roles iniciales
</p>