﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<button type="submit" onclick="show_GetParcialFormAddUser()" class="bak-button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" tabindex="0">
    <i class="material-icons">add</i>
    <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
</button>

<div class="mdl-card mdl-card__base mdl-shadow--2dp" style="width: 100%">
    <div class="mdl-card_header_container">
        <!--heaeder-->
        <h1 class="mdl_card_main_title">
            Personas
        </h1>
    </div>

    <div class="mdl-toolbar">
        <button class="item-delete mdl-button mdl-js-button mdl-button--icon" disabled>
            <i class="material-icons">save</i>
        </button>
        <button class="item-delete mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">mode_edit</i>
        </button>
        <button class="item-delete mdl-button mdl-js-button mdl-button--icon" disabled>
            <i class="material-icons">delete</i>
        </button>

        <div class="devider"></div>

        <button class="item-delete mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">mode_edit</i>
        </button>
        <button class="item-delete mdl-button mdl-js-button mdl-button--icon" disabled>
            <i class="material-icons">delete</i>
        </button>

        <select class="mdl-textfield__input">
            <option value="value">text</option>
            <option value="value">text</option>
            <option value="value">text</option>
            <option value="value">text</option>
        </select>

        <div class="devider"></div>

        <button class="item-delete mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">format_align_center</i>
        </button>
        <button class="item-delete mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">format_align_justify</i>
        </button>
        <button class="item-delete mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">format_bold</i>
        </button>
        <button class="item-delete mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">format_size</i>
        </button>
        <button class="item-delete mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">format_shapes</i>
        </button>

        <div class="devider"></div>

        <button class="item-delete mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">theaters</i>
        </button>
        <button class="item-delete mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">power_settings_new</i>
        </button>
        <button class="item-delete mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">format_shapes</i>
        </button>
    </div>

    <div class="mdl_card_content2">
        <table class="reportntable" id="listaBeneficiarios">
            <thead>
                <tr>
                    <th></th>
                    <th>CODIGO</th>
                    <th>1ER NOMBRE</th>
                    <th>2DO NOMBRE</th>
                    <th>1ER APELLIDO</th>
                    <th>2DO APELLIDO</th>
                    <th>CUENTA DOMINIO</th>
                    <th>DETALLE</th>
                    <th>ELIMINAR</th>
                    <th>ACTUALIZAR</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="check1">
                            <input type="checkbox" id="check1" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label"></span>
                        </label>
                    </td>
                    <td data-label="Codigo">00000</td>
                    <td data-label="1er Nombre">Nombre</td>
                    <td data-label="2do Nombre">Nombre</td>
                    <td data-label="1er Apelliedo">Apellido</td>
                    <td data-label="2do Apelliedo">Apellido</td>
                    <td data-label="Cuenta Dominio">Dominio/Cuenta</td>

                    <td data-label="Detalle">
                        <button class="item-delete mdl-button mdl-js-button mdl-button--icon" onclick="show_GetPartialDetailUser()">
                            <i class="material-icons">subject</i>
                        </button>
                    </td>
                    <td data-label="Eliminar">
                        <button class="item-delete mdl-button mdl-js-button mdl-button--icon" onclick="deleteUser()">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                    <td data-label="Modificar">
                        <button class="item-delete mdl-button mdl-js-button mdl-button--icon" onclick="show_GetParcialFormUpdateUser()">
                            <i class="material-icons">mode_edit</i>
                        </button>
                    </td>
                </tr>


                <tr>
                    <td data-label="">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="check2">
                            <input type="checkbox" id="check2" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label"></span>
                        </label>
                    </td>
                    <td data-label="Codigo">00000</td>
                    <td data-label="1er Nombre">Nombre</td>
                    <td data-label="2do Nombre">Nombre</td>
                    <td data-label="1er Apelliedo">Apellido</td>
                    <td data-label="2do Apelliedo">Apellido</td>
                    <td data-label="Cuenta Dominio">Dominio/Cuenta</td>

                    <td data-label="Detalle">
                        <button class="item-delete mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">subject</i>
                        </button>
                    </td>
                    <td data-label="Eliminar">
                        <button class="item-delete mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                    <td data-label="Modificar">
                        <button class="item-delete mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">mode_edit</i>
                        </button>
                    </td>
                </tr>


                <tr>
                    <td data-label="">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="check3">
                            <input type="checkbox" id="check3" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label"></span>
                        </label>
                    </td>
                    <td data-label="Codigo">00000</td>
                    <td data-label="1er Nombre">Nombre</td>
                    <td data-label="2do Nombre">Nombre</td>
                    <td data-label="1er Apelliedo">Apellido</td>
                    <td data-label="2do Apelliedo">Apellido</td>
                    <td data-label="Cuenta Dominio">Dominio/Cuenta</td>

                    <td data-label="Detalle">
                        <button class="item-delete mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">subject</i>
                        </button>
                    </td>
                    <td data-label="Eliminar">
                        <button class="item-delete mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                    <td data-label="Modificar">
                        <button class="item-delete mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">mode_edit</i>
                        </button>
                    </td>
                </tr>


                <tr>
                    <td data-label="">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="check4">
                            <input type="checkbox" id="check4" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label"></span>
                        </label>
                    </td>
                    <td data-label="Codigo">00000</td>
                    <td data-label="1er Nombre">Nombre</td>
                    <td data-label="2do Nombre">Nombre</td>
                    <td data-label="1er Apelliedo">Apellido</td>
                    <td data-label="2do Apelliedo">Apellido</td>
                    <td data-label="Cuenta Dominio">Dominio/Cuenta</td>

                    <td data-label="Detalle">
                        <button class="item-delete mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">subject</i>
                        </button>
                    </td>
                    <td data-label="Eliminar">
                        <button class="item-delete mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                    <td data-label="Modificar">
                        <button class="item-delete mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">mode_edit</i>
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

</div>

<script>
    //Usuario
    var urlGetParcialFormAddUser = '@Url.Action("GetParcialFormAddUser", "Personas")';
    var urlGetParcialFormUpdateUser = '@Url.Action("GetParcialFormUpdateUser", "Personas")';
    var urlGetPartialDetailUser = '@Url.Action("GetPartialDetailUser", "Personas")';
</script>
<script src="~/scripts/EstructuraOrganizacional/Personas/Index.js"></script>


