﻿/**
 * MDL Custom
 * @version v1.0.1
 * @copyright 2016 dnds,
 * @link http://www.dnds-systems.com
 */
@charset "UTF-8";
/**
 * Copyright 2015
 * CREATED BY
 * Eliseo Gomez
 * email: jose.eliseo.gomez@gmail.com
/* Material Design Lite */
/**
 * Copyright 2015
 */

#mainContainer {
    width: 100%;
    height: 100vh;
    display: table;
    vertical-align: central;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: scroll;
    background: rgba(0, 0, 0, 0.26);
    z-index: 999;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
}

.fab-button-section {
    float: right;
    margin-bottom: 16px;
    margin-right: 24px;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1000;
}

    .fab-button-section .mdl-tooltip {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

.fab-button-section div {
    padding: 0px;
    align-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

    .fab-button-section .mdl-button--mini-fab {
        background-color: #ededed !important;
    }

.fab-animation-button {
    /* Firefox */
    -moz-transition: all 0.4s ease;
    /* WebKit */
    -webkit-transition: all 0.4s ease;
    /* Opera */
    -o-transition: all 0.4s ease;
    /* Standard */
    transition: all 0.4s ease;
}

.cancel-option {
    background-color: #FF1744 !important;
    color: #FFF;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.agree-option {
    background-color: #00C853 !important;
    color: #FFF;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

    .agree-option:disabled {
        background-color: rgba(0, 0, 0, 0.26) !important;
        color: #FFF;
    }

.cancel-option:disabled {
    background-color: rgba(0, 0, 0, 0.26) !important;
    color: #FFF;
}

.disable-option {
    background-color: rgba(0, 0, 0, 0.26) !important;
    color: #FFF;
}



/*rotation animation*/
.do-rotate_back {
    color: #FFF;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.do-rotate {
    color: #FFF;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.show-drawer {
    -webkit-transform: translateX(-280px);
    transform: translateX(-280px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    will-change: transform;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}

.hide-drawer {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    will-change: transform;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}

.traslate-right {
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    will-change: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}

.traslate-left {
    -webkit-transform: translateX(-270px) rotate(45deg);
    transform: translateX(-270px) rotate(45deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    will-change: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}

.compressed {
    background-image: url(../../../Content/TemplateResources/ic_keyboard_arrow_down_black_24px.svg);
    background-position-x: right;
    background-repeat: no-repeat;
    background-position-y: center;
}

.extended {
    background-image: url(../../../Content/TemplateResources/ic_keyboard_arrow_up_black_24px.svg);
    background-position-x: right;
    background-repeat: no-repeat;
    background-position-y: center;
}

.show-mini-fab {
    -ms-transform: scale(1, 1) !important; /* IE 9 */
    -webkit-transform: scale(1, 1) !important; /* Safari */
    transform: scale(1, 1) !important;
    transition: cubic-bezier(0,-0.4, 1, 1.53);
    transition-duration: 0.15s;
}


.hide-mini-fab {
    -ms-transform: scale(0, 0) !important; /* IE 9 */
    -webkit-transform: scale(0, 0) !important; /* Safari */
    transform: scale(0, 0) !important;
    transition: cubic-bezier(0,-0.4, 1, 1.53);
    transition-duration: 0.15s;
}

.initial-mini-fab-status {
    -ms-transform: scale(0, 0);/* IE 9 */
    -webkit-transform: scale(0, 0); /* Safari */
    transform: scale(0, 0);
}